/* line 11, C:/Users/georg/Desktop/brownbear/brownbears/scss/about-us.scss */
body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #2B2B2B;
}

/* line 19, C:/Users/georg/Desktop/brownbear/brownbears/scss/about-us.scss */
.container {
  margin: 0 auto;
  padding: 0;
  width: 95%;
  max-width: 1920px;
  text-align: center;
}

/* line 27, C:/Users/georg/Desktop/brownbear/brownbears/scss/about-us.scss */
.table {
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

/* line 33, C:/Users/georg/Desktop/brownbear/brownbears/scss/about-us.scss */
.col-1 {
  width: 8.33333333333%;
}

/* line 37, C:/Users/georg/Desktop/brownbear/brownbears/scss/about-us.scss */
.col-2 {
  width: 16.6666666667%;
}

/* line 41, C:/Users/georg/Desktop/brownbear/brownbears/scss/about-us.scss */
.col-3 {
  width: 25%;
}

/* line 45, C:/Users/georg/Desktop/brownbear/brownbears/scss/about-us.scss */
.col-4 {
  width: 33.3333333333%;
}

/* line 49, C:/Users/georg/Desktop/brownbear/brownbears/scss/about-us.scss */
.col-5 {
  width: 41.6666666667%;
}

/* line 53, C:/Users/georg/Desktop/brownbear/brownbears/scss/about-us.scss */
.col-6 {
  width: 50%;
}

/* line 57, C:/Users/georg/Desktop/brownbear/brownbears/scss/about-us.scss */
.col-7 {
  width: 58.3333333333%;
}

/* line 61, C:/Users/georg/Desktop/brownbear/brownbears/scss/about-us.scss */
.col-8 {
  width: 66.6666666666%;
}

/* line 65, C:/Users/georg/Desktop/brownbear/brownbears/scss/about-us.scss */
.col-9 {
  width: 75%;
}

/* line 69, C:/Users/georg/Desktop/brownbear/brownbears/scss/about-us.scss */
.col-10 {
  width: 83.3333333333%;
}

/* line 73, C:/Users/georg/Desktop/brownbear/brownbears/scss/about-us.scss */
.col-11 {
  width: 91.6666666666%;
}

/* line 77, C:/Users/georg/Desktop/brownbear/brownbears/scss/about-us.scss */
.col-12 {
  width: 100%;
}

/* line 81, C:/Users/georg/Desktop/brownbear/brownbears/scss/about-us.scss */
[class*="col-"] {
  float: left;
}

/* line 87, C:/Users/georg/Desktop/brownbear/brownbears/scss/about-us.scss */
.row:before:after {
  clear: both;
  content: "";
}

/* line 92, C:/Users/georg/Desktop/brownbear/brownbears/scss/about-us.scss */
.menu {
  width: 60px;
  padding: 2;
  height: 50px;
  display: none;
}

/* line 97, C:/Users/georg/Desktop/brownbear/brownbears/scss/about-us.scss */
.menu:hover {
  cursor: pointer;
}

/* line 100, C:/Users/georg/Desktop/brownbear/brownbears/scss/about-us.scss */
.menu .menu li {
  list-style: none;
  margin: 5px 0;
  background-color: #949494;
}

/* line 107, C:/Users/georg/Desktop/brownbear/brownbears/scss/about-us.scss */
.top,
.mid,
.bttm {
  position: relative;
  top: 11px;
  width: 60px;
  height: 8px;
  background-color: #949494;
}

/* line 118, C:/Users/georg/Desktop/brownbear/brownbears/scss/about-us.scss */
.on .top {
  transform: rotate(45deg);
  top: 16px;
  transition: all .25s;
  background-color: #949494;
}

/* line 125, C:/Users/georg/Desktop/brownbear/brownbears/scss/about-us.scss */
.on .bttm {
  transform: rotate(-45deg);
  top: 5px;
  transition: all .25s;
  background-color: #949494;
}

/* line 132, C:/Users/georg/Desktop/brownbear/brownbears/scss/about-us.scss */
.on .mid {
  display: none;
}

/* line 136, C:/Users/georg/Desktop/brownbear/brownbears/scss/about-us.scss */
.on li {
  background-color: #949494;
}

/* line 140, C:/Users/georg/Desktop/brownbear/brownbears/scss/about-us.scss */
nav {
  background-color: #2B2B2B;
  text-align: right;
  width: 100%;
}

/* line 146, C:/Users/georg/Desktop/brownbear/brownbears/scss/about-us.scss */
nav ul li {
  display: inline-block;
  line-height: 2;
  text-align: center;
}

/* line 152, C:/Users/georg/Desktop/brownbear/brownbears/scss/about-us.scss */
nav a {
  display: block;
  font-family: "Roboto", sans-serif;
  font-size: 100%;
  text-decoration: none;
  color: #EFEFEF;
  margin-left: 15%;
}

/* line 161, C:/Users/georg/Desktop/brownbear/brownbears/scss/about-us.scss */
nav a:hover {
  color: #999;
}

/* line 165, C:/Users/georg/Desktop/brownbear/brownbears/scss/about-us.scss */
a,
.menu,
.menu li {
  transition: all 0.3s ease-out;
}

/* line 171, C:/Users/georg/Desktop/brownbear/brownbears/scss/about-us.scss */
#logo-holder {
  margin: 0 auto;
  padding: 0;
  position: relative;
  top: 25%;
  left: 0%;
}

/* line 177, C:/Users/georg/Desktop/brownbear/brownbears/scss/about-us.scss */
#logo-holder .logo {
  margin: 0;
  padding: 0;
  width: 100%;
}

/* line 184, C:/Users/georg/Desktop/brownbear/brownbears/scss/about-us.scss */
#text {
  margin: 0 auto;
  padding: 0;
  position: relative;
  text-align: center;
  padding-top: 10%;
  left: 2%;
}

/* line 191, C:/Users/georg/Desktop/brownbear/brownbears/scss/about-us.scss */
#text h1 {
  font-family: "Roboto", sans-serif;
  font-size: 150%;
  color: #EFEFEF;
}

/* line 196, C:/Users/georg/Desktop/brownbear/brownbears/scss/about-us.scss */
#text p {
  font-family: "Roboto", sans-serif;
  font-size: 130%;
  color: #EFEFEF;
  text-align: justify;
}

/* line 204, C:/Users/georg/Desktop/brownbear/brownbears/scss/about-us.scss */
#links {
  margin: 0 auto;
  padding: 0;
  padding-top: 5%;
  text-align: right;
}

/* line 209, C:/Users/georg/Desktop/brownbear/brownbears/scss/about-us.scss */
#links .media-links {
  margin: 0 auto;
  padding: 0;
  width: 2%;
  margin-left: 2%;
}

/* Tablet Landscape */
@media (max-width: 1024px) {
  /* line 221, C:/Users/georg/Desktop/brownbear/brownbears/scss/about-us.scss */
  .container {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    max-width: 1024px;
  }
  /* line 226, C:/Users/georg/Desktop/brownbear/brownbears/scss/about-us.scss */
  .container .menu {
    display: block;
  }
  /* line 229, C:/Users/georg/Desktop/brownbear/brownbears/scss/about-us.scss */
  .container nav {
    width: 100%;
    display: none;
    background: #2B2B2B;
    text-align: center;
    padding: 0;
    padding-bottom: 2%;
    position: relative;
    right: 2%;
  }
  /* line 239, C:/Users/georg/Desktop/brownbear/brownbears/scss/about-us.scss */
  .container nav ul li {
    display: block;
    border-bottom: 1px solid #ccc;
  }
  /* line 243, C:/Users/georg/Desktop/brownbear/brownbears/scss/about-us.scss */
  .container nav ul li:last-child {
    border: none;
  }
  /* line 246, C:/Users/georg/Desktop/brownbear/brownbears/scss/about-us.scss */
  .container nav a {
    font-size: 140%;
  }
  /* line 249, C:/Users/georg/Desktop/brownbear/brownbears/scss/about-us.scss */
  .container nav a {
    font-size: 100%;
    position: relative;
    right: 8%;
  }
  /* line 254, C:/Users/georg/Desktop/brownbear/brownbears/scss/about-us.scss */
  .container #logo-holder {
    width: 50%;
    left: 25%;
  }
  /* line 257, C:/Users/georg/Desktop/brownbear/brownbears/scss/about-us.scss */
  .container #logo-holder .logo {
    width: 100%;
  }
  /* line 261, C:/Users/georg/Desktop/brownbear/brownbears/scss/about-us.scss */
  .container #text {
    width: 80%;
    left: 10%;
    padding-top: 4%;
  }
  /* line 266, C:/Users/georg/Desktop/brownbear/brownbears/scss/about-us.scss */
  .container #links {
    width: 90%;
    left: 0;
  }
  /* line 269, C:/Users/georg/Desktop/brownbear/brownbears/scss/about-us.scss */
  .container #links .media-links {
    width: 5%;
  }
}

/* Tablet Portrait */
@media (max-width: 768px) {
  /* line 280, C:/Users/georg/Desktop/brownbear/brownbears/scss/about-us.scss */
  .container {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    max-width: 768px;
  }
  /* line 285, C:/Users/georg/Desktop/brownbear/brownbears/scss/about-us.scss */
  .container .menu {
    display: block;
  }
  /* line 288, C:/Users/georg/Desktop/brownbear/brownbears/scss/about-us.scss */
  .container nav {
    width: 100%;
    display: none;
    background: #2B2B2B;
    text-align: center;
    padding: 0;
    padding-bottom: 2%;
    position: relative;
    right: 2%;
  }
  /* line 298, C:/Users/georg/Desktop/brownbear/brownbears/scss/about-us.scss */
  .container nav ul li {
    display: block;
    border-bottom: 1px solid #ccc;
  }
  /* line 302, C:/Users/georg/Desktop/brownbear/brownbears/scss/about-us.scss */
  .container nav ul li:last-child {
    border: none;
  }
  /* line 305, C:/Users/georg/Desktop/brownbear/brownbears/scss/about-us.scss */
  .container nav a {
    font-size: 140%;
    position: relative;
    right: 8%;
  }
  /* line 310, C:/Users/georg/Desktop/brownbear/brownbears/scss/about-us.scss */
  .container #logo-holder {
    width: 80%;
    left: 10%;
  }
  /* line 313, C:/Users/georg/Desktop/brownbear/brownbears/scss/about-us.scss */
  .container #logo-holder .logo {
    width: 90%;
  }
  /* line 317, C:/Users/georg/Desktop/brownbear/brownbears/scss/about-us.scss */
  .container #text {
    width: 80%;
    left: 10%;
  }
  /* line 321, C:/Users/georg/Desktop/brownbear/brownbears/scss/about-us.scss */
  .container #links {
    width: 90%;
  }
  /* line 323, C:/Users/georg/Desktop/brownbear/brownbears/scss/about-us.scss */
  .container #links .media-links {
    width: 5%;
  }
}

/* Mobile Landscape */
@media (max-width: 740px) {
  /* line 334, C:/Users/georg/Desktop/brownbear/brownbears/scss/about-us.scss */
  .container {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    max-width: 740px;
  }
  /* line 339, C:/Users/georg/Desktop/brownbear/brownbears/scss/about-us.scss */
  .container .menu {
    display: block;
  }
  /* line 342, C:/Users/georg/Desktop/brownbear/brownbears/scss/about-us.scss */
  .container nav {
    width: 100%;
    display: none;
    background: #2B2B2B;
    text-align: center;
    padding: 0;
    padding-bottom: 2%;
    position: relative;
    right: 2%;
  }
  /* line 352, C:/Users/georg/Desktop/brownbear/brownbears/scss/about-us.scss */
  .container nav ul li {
    display: block;
    border-bottom: 1px solid #ccc;
    text-align: center;
  }
  /* line 357, C:/Users/georg/Desktop/brownbear/brownbears/scss/about-us.scss */
  .container nav ul li:last-child {
    border: none;
  }
  /* line 360, C:/Users/georg/Desktop/brownbear/brownbears/scss/about-us.scss */
  .container nav a {
    font-size: 100%;
    position: relative;
    right: 9%;
  }
  /* line 365, C:/Users/georg/Desktop/brownbear/brownbears/scss/about-us.scss */
  .container #logo-holder {
    width: 50%;
    left: 25%;
  }
  /* line 368, C:/Users/georg/Desktop/brownbear/brownbears/scss/about-us.scss */
  .container #logo-holder .logo {
    width: 100%;
  }
  /* line 372, C:/Users/georg/Desktop/brownbear/brownbears/scss/about-us.scss */
  .container #text {
    width: 80%;
    left: 10%;
    padding-top: 4%;
  }
  /* line 376, C:/Users/georg/Desktop/brownbear/brownbears/scss/about-us.scss */
  .container #text p {
    font-size: 100%;
  }
  /* line 380, C:/Users/georg/Desktop/brownbear/brownbears/scss/about-us.scss */
  .container #links {
    width: 90%;
    left: 0;
    margin-top: 1%;
  }
  /* line 384, C:/Users/georg/Desktop/brownbear/brownbears/scss/about-us.scss */
  .container #links .media-links {
    width: 5%;
    margin-top: 5%;
  }
}

/* Mobile Portrait */
@media (max-width: 414px) {
  /* line 396, C:/Users/georg/Desktop/brownbear/brownbears/scss/about-us.scss */
  .container {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    max-width: 414px;
  }
  /* line 401, C:/Users/georg/Desktop/brownbear/brownbears/scss/about-us.scss */
  .container .menu {
    display: block;
  }
  /* line 404, C:/Users/georg/Desktop/brownbear/brownbears/scss/about-us.scss */
  .container nav {
    width: 100%;
    display: none;
    background: #2B2B2B;
    text-align: center;
    padding: 0;
    padding-bottom: 2%;
    position: relative;
    right: 3%;
  }
  /* line 414, C:/Users/georg/Desktop/brownbear/brownbears/scss/about-us.scss */
  .container nav ul li {
    display: block;
    border-bottom: 1px solid #ccc;
  }
  /* line 418, C:/Users/georg/Desktop/brownbear/brownbears/scss/about-us.scss */
  .container nav ul li:last-child {
    border: none;
  }
  /* line 421, C:/Users/georg/Desktop/brownbear/brownbears/scss/about-us.scss */
  .container nav a {
    font-size: 100%;
    position: relative;
    right: 10%;
  }
  /* line 426, C:/Users/georg/Desktop/brownbear/brownbears/scss/about-us.scss */
  .container #logo-holder {
    width: 80%;
    left: 10%;
  }
  /* line 429, C:/Users/georg/Desktop/brownbear/brownbears/scss/about-us.scss */
  .container #logo-holder .logo {
    width: 90%;
  }
  /* line 433, C:/Users/georg/Desktop/brownbear/brownbears/scss/about-us.scss */
  .container #text {
    width: 80%;
    left: 10%;
  }
  /* line 436, C:/Users/georg/Desktop/brownbear/brownbears/scss/about-us.scss */
  .container #text p {
    font-size: 100%;
  }
  /* line 440, C:/Users/georg/Desktop/brownbear/brownbears/scss/about-us.scss */
  .container #links {
    width: 90%;
    right: 0;
    left: 10%;
  }
  /* line 444, C:/Users/georg/Desktop/brownbear/brownbears/scss/about-us.scss */
  .container #links .media-links {
    width: 10%;
  }
}

/* line 451, C:/Users/georg/Desktop/brownbear/brownbears/scss/about-us.scss */
#menu-icon {
  height: 100px;
  position: fixed;
  left: 70%;
  z-index: 20;
}

/* line 458, C:/Users/georg/Desktop/brownbear/brownbears/scss/about-us.scss */
.menu {
  display: block;
  width: 60px;
  padding: 2;
}

/* line 464, C:/Users/georg/Desktop/brownbear/brownbears/scss/about-us.scss */
.menu:hover {
  cursor: pointer;
}

/* line 468, C:/Users/georg/Desktop/brownbear/brownbears/scss/about-us.scss */
.menu li {
  list-style: none;
  margin: 5px 0;
}

/* line 473, C:/Users/georg/Desktop/brownbear/brownbears/scss/about-us.scss */
.top,
.mid,
.bttm {
  position: relative;
  top: 11px;
  width: 60px;
  height: 8px;
  background-color: white;
}

/* line 483, C:/Users/georg/Desktop/brownbear/brownbears/scss/about-us.scss */
.on .top {
  transform: rotate(45deg);
  top: 16px;
  transition: all .25s;
}

/* line 489, C:/Users/georg/Desktop/brownbear/brownbears/scss/about-us.scss */
.on .bttm {
  transform: rotate(-45deg);
  top: 5px;
  transition: all .25s;
}

/* line 495, C:/Users/georg/Desktop/brownbear/brownbears/scss/about-us.scss */
.on .mid {
  display: none;
}

/* line 499, C:/Users/georg/Desktop/brownbear/brownbears/scss/about-us.scss */
.on li {
  background-color: white;
}

/*# sourceMappingURL=../css/about-us.map */