/* line 12, C:/Users/George Houghton/Desktop/brownbears/scss/about-us.scss */
body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #2B2B2B;
}

/* line 20, C:/Users/George Houghton/Desktop/brownbears/scss/about-us.scss */
.container {
  margin: 0 auto;
  padding: 0;
  width: 90%;
  max-width: 1920px;
  min-width: 1024px;
  text-align: center;
}

/* line 31, C:/Users/George Houghton/Desktop/brownbears/scss/about-us.scss */
.table {
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

/* line 40, C:/Users/George Houghton/Desktop/brownbears/scss/about-us.scss */
.col-1 {
  width: 8.33333333333%;
}

/* line 45, C:/Users/George Houghton/Desktop/brownbears/scss/about-us.scss */
.col-2 {
  width: 16.6666666667%;
}

/* line 48, C:/Users/George Houghton/Desktop/brownbears/scss/about-us.scss */
.col-3 {
  width: 25%;
}

/* line 51, C:/Users/George Houghton/Desktop/brownbears/scss/about-us.scss */
.col-4 {
  width: 33.3333333333%;
}

/* line 55, C:/Users/George Houghton/Desktop/brownbears/scss/about-us.scss */
.col-5 {
  width: 41.6666666667%;
}

/* line 58, C:/Users/George Houghton/Desktop/brownbears/scss/about-us.scss */
.col-6 {
  width: 50%;
}

/* line 61, C:/Users/George Houghton/Desktop/brownbears/scss/about-us.scss */
.col-7 {
  width: 58.3333333333%;
}

/* line 64, C:/Users/George Houghton/Desktop/brownbears/scss/about-us.scss */
.col-8 {
  width: 66.6666666666%;
}

/* line 67, C:/Users/George Houghton/Desktop/brownbears/scss/about-us.scss */
.col-9 {
  width: 75%;
}

/* line 70, C:/Users/George Houghton/Desktop/brownbears/scss/about-us.scss */
.col-10 {
  width: 83.3333333333%;
}

/* line 73, C:/Users/George Houghton/Desktop/brownbears/scss/about-us.scss */
.col-11 {
  width: 91.6666666666%;
}

/* line 76, C:/Users/George Houghton/Desktop/brownbears/scss/about-us.scss */
.col-12 {
  width: 100%;
}

/* line 80, C:/Users/George Houghton/Desktop/brownbears/scss/about-us.scss */
[class*="col-"] {
  float: left;
}

/* line 87, C:/Users/George Houghton/Desktop/brownbears/scss/about-us.scss */
.row:before
:after {
  clear: both;
  content: "";
}

/* line 96, C:/Users/George Houghton/Desktop/brownbears/scss/about-us.scss */
.menu {
  display: none;
  width: 50px;
  height: 40px;
  padding: 1em;
}

/* line 105, C:/Users/George Houghton/Desktop/brownbears/scss/about-us.scss */
.menu:hover {
  cursor: pointer;
}

/* line 108, C:/Users/George Houghton/Desktop/brownbears/scss/about-us.scss */
.menu li {
  list-style: none;
  margin: 5px 0;
  width: 50px;
  height: 8px;
  background: #949494;
}

/* line 115, C:/Users/George Houghton/Desktop/brownbears/scss/about-us.scss */
.on {
  transform: rotate(90deg);
}

/* line 118, C:/Users/George Houghton/Desktop/brownbears/scss/about-us.scss */
.on li {
  background: #ddd;
}

/* line 122, C:/Users/George Houghton/Desktop/brownbears/scss/about-us.scss */
nav {
  background-color: #2B2B2B;
  text-align: right;
}

/* line 129, C:/Users/George Houghton/Desktop/brownbears/scss/about-us.scss */
nav ul li {
  display: inline-block;
  line-height: 2;
  text-align: center;
}

/* line 137, C:/Users/George Houghton/Desktop/brownbears/scss/about-us.scss */
nav a {
  display: block;
  font-family: "Roboto", sans-serif;
  font-size: 100%;
  text-decoration: none;
  color: #EFEFEF;
  margin-left: 15%;
}

/* line 145, C:/Users/George Houghton/Desktop/brownbears/scss/about-us.scss */
nav a:hover {
  color: #999;
}

/* line 148, C:/Users/George Houghton/Desktop/brownbears/scss/about-us.scss */
a, .menu, .menu li {
  transition: all 0.3s ease-out;
}

/* line 154, C:/Users/George Houghton/Desktop/brownbears/scss/about-us.scss */
#logo-holder {
  margin: 0 auto;
  padding: 0;
  position: relative;
  top: 25%;
  left: 0%;
}

/* line 162, C:/Users/George Houghton/Desktop/brownbears/scss/about-us.scss */
#logo-holder .logo {
  margin: 0;
  padding: 0;
  width: 100%;
}

/* line 170, C:/Users/George Houghton/Desktop/brownbears/scss/about-us.scss */
#text {
  margin: 0 auto;
  padding: 0;
  position: relative;
  text-align: center;
  padding-top: 15%;
  left: 2%;
}

/* line 178, C:/Users/George Houghton/Desktop/brownbears/scss/about-us.scss */
#text h1 {
  font-family: "Roboto", sans-serif;
  font-size: 150%;
  color: #EFEFEF;
}

/* line 184, C:/Users/George Houghton/Desktop/brownbears/scss/about-us.scss */
#text p {
  font-family: "Roboto", sans-serif;
  font-size: 130%;
  color: #EFEFEF;
  text-align: justify;
}

/* line 192, C:/Users/George Houghton/Desktop/brownbears/scss/about-us.scss */
#links {
  margin: 0 auto;
  padding: 0;
  padding-top: 5%;
  text-align: right;
}

/* line 199, C:/Users/George Houghton/Desktop/brownbears/scss/about-us.scss */
#links .media-links {
  margin: 0 auto;
  padding: 0;
  width: 2%;
  margin-left: 2%;
}

/* Tablet Portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  /* line 216, C:/Users/George Houghton/Desktop/brownbears/scss/about-us.scss */
  .container {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    max-width: 1024px;
    min-width: 768px;
  }
  /* line 223, C:/Users/George Houghton/Desktop/brownbears/scss/about-us.scss */
  .container .menu {
    display: block;
  }
  /* line 227, C:/Users/George Houghton/Desktop/brownbears/scss/about-us.scss */
  .container nav {
    width: 85%;
    display: none;
    background: #2B2B2B;
    text-align: center;
    margin-left: 3%;
    padding: 0;
    padding-bottom: 2%;
  }
  /* line 236, C:/Users/George Houghton/Desktop/brownbears/scss/about-us.scss */
  .container nav ul li {
    display: block;
    border-bottom: 1px solid #ccc;
  }
  /* line 241, C:/Users/George Houghton/Desktop/brownbears/scss/about-us.scss */
  .container nav ul li:last-child {
    border: none;
  }
  /* line 245, C:/Users/George Houghton/Desktop/brownbears/scss/about-us.scss */
  .container nav a {
    font-size: 140%;
  }
  /* line 249, C:/Users/George Houghton/Desktop/brownbears/scss/about-us.scss */
  .container #logo-holder {
    width: 80%;
    left: 10%;
  }
  /* line 253, C:/Users/George Houghton/Desktop/brownbears/scss/about-us.scss */
  .container #logo-holder .logo {
    width: 90%;
  }
  /* line 257, C:/Users/George Houghton/Desktop/brownbears/scss/about-us.scss */
  .container #text {
    width: 80%;
    left: 10%;
  }
  /* line 261, C:/Users/George Houghton/Desktop/brownbears/scss/about-us.scss */
  .container #links {
    width: 90%;
  }
  /* line 264, C:/Users/George Houghton/Desktop/brownbears/scss/about-us.scss */
  .container #links .media-links {
    width: 5%;
  }
}

/* Tablet Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
  /* line 279, C:/Users/George Houghton/Desktop/brownbears/scss/about-us.scss */
  .container {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    max-width: 1024px;
    min-width: 768px;
  }
  /* line 286, C:/Users/George Houghton/Desktop/brownbears/scss/about-us.scss */
  .container .menu {
    display: block;
  }
  /* line 290, C:/Users/George Houghton/Desktop/brownbears/scss/about-us.scss */
  .container nav {
    width: 85%;
    display: none;
    background: #2B2B2B;
    text-align: center;
    margin-left: 3%;
    padding: 0;
    padding-bottom: 2%;
  }
  /* line 299, C:/Users/George Houghton/Desktop/brownbears/scss/about-us.scss */
  .container nav ul li {
    display: block;
    border-bottom: 1px solid #ccc;
  }
  /* line 304, C:/Users/George Houghton/Desktop/brownbears/scss/about-us.scss */
  .container nav ul li:last-child {
    border: none;
  }
  /* line 308, C:/Users/George Houghton/Desktop/brownbears/scss/about-us.scss */
  .container nav a {
    font-size: 140%;
  }
  /* line 312, C:/Users/George Houghton/Desktop/brownbears/scss/about-us.scss */
  .container #logo-holder {
    width: 33.3333333333%;
    left: 33%;
  }
  /* line 316, C:/Users/George Houghton/Desktop/brownbears/scss/about-us.scss */
  .container #logo-holder .logo {
    width: 100%;
  }
  /* line 321, C:/Users/George Houghton/Desktop/brownbears/scss/about-us.scss */
  .container #text {
    width: 80%;
    left: 10%;
    padding-top: 4%;
  }
  /* line 327, C:/Users/George Houghton/Desktop/brownbears/scss/about-us.scss */
  .container #links {
    width: 90%;
    left: 0;
  }
  /* line 331, C:/Users/George Houghton/Desktop/brownbears/scss/about-us.scss */
  .container #links .media-links {
    width: 5%;
  }
}

/* Mobile Portrait */
@media only screen and (min-device-width: 320px) and (max-device-width: 740px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  /* line 350, C:/Users/George Houghton/Desktop/brownbears/scss/about-us.scss */
  .container {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    max-width: 480px;
    min-width: 320px;
  }
  /* line 357, C:/Users/George Houghton/Desktop/brownbears/scss/about-us.scss */
  .container .menu {
    display: block;
  }
  /* line 361, C:/Users/George Houghton/Desktop/brownbears/scss/about-us.scss */
  .container nav {
    width: 85%;
    display: none;
    background: #2B2B2B;
    text-align: center;
    margin-left: 3%;
    padding: 0;
    padding-bottom: 2%;
  }
  /* line 370, C:/Users/George Houghton/Desktop/brownbears/scss/about-us.scss */
  .container nav ul li {
    display: block;
    border-bottom: 1px solid #ccc;
  }
  /* line 376, C:/Users/George Houghton/Desktop/brownbears/scss/about-us.scss */
  .container nav ul li:last-child {
    border: none;
  }
  /* line 380, C:/Users/George Houghton/Desktop/brownbears/scss/about-us.scss */
  .container nav a {
    font-size: 100%;
  }
  /* line 384, C:/Users/George Houghton/Desktop/brownbears/scss/about-us.scss */
  .container #logo-holder {
    width: 80%;
    left: 10%;
  }
  /* line 388, C:/Users/George Houghton/Desktop/brownbears/scss/about-us.scss */
  .container #logo-holder .logo {
    width: 90%;
  }
  /* line 392, C:/Users/George Houghton/Desktop/brownbears/scss/about-us.scss */
  .container #text {
    width: 80%;
    left: 10%;
  }
  /* line 396, C:/Users/George Houghton/Desktop/brownbears/scss/about-us.scss */
  .container #text p {
    font-size: 100%;
  }
  /* line 400, C:/Users/George Houghton/Desktop/brownbears/scss/about-us.scss */
  .container #links {
    width: 90%;
    right: 0;
    left: 10%;
  }
  /* line 405, C:/Users/George Houghton/Desktop/brownbears/scss/about-us.scss */
  .container #links .media-links {
    width: 10%;
  }
}

/* Mobile Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 740px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  /* line 420, C:/Users/George Houghton/Desktop/brownbears/scss/about-us.scss */
  .container {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    max-width: 740px;
    min-width: 320px;
  }
  /* line 427, C:/Users/George Houghton/Desktop/brownbears/scss/about-us.scss */
  .container .menu {
    display: block;
  }
  /* line 431, C:/Users/George Houghton/Desktop/brownbears/scss/about-us.scss */
  .container nav {
    width: 85%;
    display: none;
    background: #2B2B2B;
    text-align: center;
    margin-left: 5%;
    padding: 0;
    padding-bottom: 2%;
  }
  /* line 440, C:/Users/George Houghton/Desktop/brownbears/scss/about-us.scss */
  .container nav ul li {
    display: block;
    border-bottom: 1px solid #ccc;
    text-align: center;
  }
  /* line 446, C:/Users/George Houghton/Desktop/brownbears/scss/about-us.scss */
  .container nav ul li:last-child {
    border: none;
  }
  /* line 450, C:/Users/George Houghton/Desktop/brownbears/scss/about-us.scss */
  .container nav a {
    font-size: 100%;
  }
  /* line 454, C:/Users/George Houghton/Desktop/brownbears/scss/about-us.scss */
  .container #logo-holder {
    width: 50%;
    left: 25%;
  }
  /* line 458, C:/Users/George Houghton/Desktop/brownbears/scss/about-us.scss */
  .container #logo-holder .logo {
    width: 100%;
  }
  /* line 462, C:/Users/George Houghton/Desktop/brownbears/scss/about-us.scss */
  .container #text {
    width: 80%;
    left: 10%;
    padding-top: 4%;
  }
  /* line 467, C:/Users/George Houghton/Desktop/brownbears/scss/about-us.scss */
  .container #text p {
    font-size: 100%;
  }
  /* line 471, C:/Users/George Houghton/Desktop/brownbears/scss/about-us.scss */
  .container #links {
    width: 90%;
    left: 0;
    margin-top: 1%;
  }
  /* line 476, C:/Users/George Houghton/Desktop/brownbears/scss/about-us.scss */
  .container #links .media-links {
    width: 5%;
    margin-top: 5%;
  }
}

/*# sourceMappingURL=../css/about-us.map */