/* line 11, C:/Users/georg/Desktop/brownbear/brownbears/scss/about-us.scss */
body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #2B2B2B;
}

/* line 19, C:/Users/georg/Desktop/brownbear/brownbears/scss/about-us.scss */
.container {
  margin: 0 auto;
  padding: 0;
  width: 95%;
  max-width: 1920px;
  text-align: center;
}

/* line 27, C:/Users/georg/Desktop/brownbear/brownbears/scss/about-us.scss */
.table {
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

/* line 33, C:/Users/georg/Desktop/brownbear/brownbears/scss/about-us.scss */
.col-1 {
  width: 8.33333333333%;
}

/* line 37, C:/Users/georg/Desktop/brownbear/brownbears/scss/about-us.scss */
.col-2 {
  width: 16.6666666667%;
}

/* line 41, C:/Users/georg/Desktop/brownbear/brownbears/scss/about-us.scss */
.col-3 {
  width: 25%;
}

/* line 45, C:/Users/georg/Desktop/brownbear/brownbears/scss/about-us.scss */
.col-4 {
  width: 33.3333333333%;
}

/* line 49, C:/Users/georg/Desktop/brownbear/brownbears/scss/about-us.scss */
.col-5 {
  width: 41.6666666667%;
}

/* line 53, C:/Users/georg/Desktop/brownbear/brownbears/scss/about-us.scss */
.col-6 {
  width: 50%;
}

/* line 57, C:/Users/georg/Desktop/brownbear/brownbears/scss/about-us.scss */
.col-7 {
  width: 58.3333333333%;
}

/* line 61, C:/Users/georg/Desktop/brownbear/brownbears/scss/about-us.scss */
.col-8 {
  width: 66.6666666666%;
}

/* line 65, C:/Users/georg/Desktop/brownbear/brownbears/scss/about-us.scss */
.col-9 {
  width: 75%;
}

/* line 69, C:/Users/georg/Desktop/brownbear/brownbears/scss/about-us.scss */
.col-10 {
  width: 83.3333333333%;
}

/* line 73, C:/Users/georg/Desktop/brownbear/brownbears/scss/about-us.scss */
.col-11 {
  width: 91.6666666666%;
}

/* line 77, C:/Users/georg/Desktop/brownbear/brownbears/scss/about-us.scss */
.col-12 {
  width: 100%;
}

/* line 81, C:/Users/georg/Desktop/brownbear/brownbears/scss/about-us.scss */
[class*="col-"] {
  float: left;
}

/* line 87, C:/Users/georg/Desktop/brownbear/brownbears/scss/about-us.scss */
.row:before:after {
  clear: both;
  content: "";
}

/* line 92, C:/Users/georg/Desktop/brownbear/brownbears/scss/about-us.scss */
.menu {
  width: 60px;
  padding: 2;
  height: 50px;
  display: none;
}

/* line 97, C:/Users/georg/Desktop/brownbear/brownbears/scss/about-us.scss */
.menu:hover {
  cursor: pointer;
}

/* line 100, C:/Users/georg/Desktop/brownbear/brownbears/scss/about-us.scss */
.menu .menu li {
  list-style: none;
  margin: 5px 0;
  background-color: #949494;
}

/* line 107, C:/Users/georg/Desktop/brownbear/brownbears/scss/about-us.scss */
.top,
.mid,
.bttm {
  position: relative;
  top: 11px;
  width: 60px;
  height: 8px;
  background-color: #949494;
}

/* line 118, C:/Users/georg/Desktop/brownbear/brownbears/scss/about-us.scss */
.on .top {
  transform: rotate(45deg);
  top: 16px;
  transition: all .25s;
  background-color: #949494;
}

/* line 125, C:/Users/georg/Desktop/brownbear/brownbears/scss/about-us.scss */
.on .bttm {
  transform: rotate(-45deg);
  top: 5px;
  transition: all .25s;
  background-color: #949494;
}

/* line 132, C:/Users/georg/Desktop/brownbear/brownbears/scss/about-us.scss */
.on .mid {
  display: none;
}

/* line 136, C:/Users/georg/Desktop/brownbear/brownbears/scss/about-us.scss */
.on li {
  background-color: #949494;
}

/* line 140, C:/Users/georg/Desktop/brownbear/brownbears/scss/about-us.scss */
nav {
  background-color: #2B2B2B;
  text-align: right;
  width: 100%;
}

/* line 146, C:/Users/georg/Desktop/brownbear/brownbears/scss/about-us.scss */
nav ul li {
  display: inline-block;
  line-height: 2;
  text-align: center;
}

/* line 152, C:/Users/georg/Desktop/brownbear/brownbears/scss/about-us.scss */
nav a {
  display: block;
  font-family: "Roboto", sans-serif;
  font-size: 100%;
  text-decoration: none;
  color: #EFEFEF;
  margin-left: 15%;
}

/* line 161, C:/Users/georg/Desktop/brownbear/brownbears/scss/about-us.scss */
nav a:hover {
  color: #999;
}

/* line 165, C:/Users/georg/Desktop/brownbear/brownbears/scss/about-us.scss */
#logo-holder {
  margin: 0 auto;
  padding: 0;
  position: relative;
  top: 25%;
  left: 0%;
}

/* line 171, C:/Users/georg/Desktop/brownbear/brownbears/scss/about-us.scss */
#logo-holder .logo {
  margin: 0;
  padding: 0;
  width: 100%;
}

/* line 178, C:/Users/georg/Desktop/brownbear/brownbears/scss/about-us.scss */
#text {
  margin: 0 auto;
  padding: 0;
  position: relative;
  text-align: center;
  padding-top: 10%;
  left: 2%;
}

/* line 185, C:/Users/georg/Desktop/brownbear/brownbears/scss/about-us.scss */
#text h1 {
  font-family: "Roboto", sans-serif;
  font-size: 150%;
  color: #EFEFEF;
}

/* line 190, C:/Users/georg/Desktop/brownbear/brownbears/scss/about-us.scss */
#text p {
  font-family: "Roboto", sans-serif;
  font-size: 130%;
  color: #EFEFEF;
  text-align: justify;
}

/* line 198, C:/Users/georg/Desktop/brownbear/brownbears/scss/about-us.scss */
#links {
  margin: 0 auto;
  padding: 0;
  padding-top: 5%;
  text-align: right;
}

/* line 203, C:/Users/georg/Desktop/brownbear/brownbears/scss/about-us.scss */
#links .media-links {
  margin: 0 auto;
  padding: 0;
  width: 2%;
  margin-left: 2%;
}

/* Tablet Landscape */
@media (max-width: 1024px) {
  /* line 215, C:/Users/georg/Desktop/brownbear/brownbears/scss/about-us.scss */
  .container {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    max-width: 1024px;
  }
  /* line 220, C:/Users/georg/Desktop/brownbear/brownbears/scss/about-us.scss */
  .container .menu {
    display: block;
  }
  /* line 223, C:/Users/georg/Desktop/brownbear/brownbears/scss/about-us.scss */
  .container nav {
    width: 100%;
    display: none;
    background: #2B2B2B;
    text-align: center;
    padding: 0;
    padding-bottom: 2%;
    position: relative;
    right: 2%;
  }
  /* line 233, C:/Users/georg/Desktop/brownbear/brownbears/scss/about-us.scss */
  .container nav ul li {
    display: block;
    border-bottom: 1px solid #ccc;
  }
  /* line 237, C:/Users/georg/Desktop/brownbear/brownbears/scss/about-us.scss */
  .container nav ul li:last-child {
    border: none;
  }
  /* line 240, C:/Users/georg/Desktop/brownbear/brownbears/scss/about-us.scss */
  .container nav a {
    font-size: 140%;
  }
  /* line 243, C:/Users/georg/Desktop/brownbear/brownbears/scss/about-us.scss */
  .container nav a {
    font-size: 100%;
    position: relative;
    right: 8%;
  }
  /* line 248, C:/Users/georg/Desktop/brownbear/brownbears/scss/about-us.scss */
  .container #logo-holder {
    width: 50%;
    left: 25%;
  }
  /* line 251, C:/Users/georg/Desktop/brownbear/brownbears/scss/about-us.scss */
  .container #logo-holder .logo {
    width: 100%;
  }
  /* line 255, C:/Users/georg/Desktop/brownbear/brownbears/scss/about-us.scss */
  .container #text {
    width: 80%;
    left: 10%;
    padding-top: 4%;
  }
  /* line 260, C:/Users/georg/Desktop/brownbear/brownbears/scss/about-us.scss */
  .container #links {
    width: 90%;
    left: 0;
  }
  /* line 263, C:/Users/georg/Desktop/brownbear/brownbears/scss/about-us.scss */
  .container #links .media-links {
    width: 5%;
  }
}

/* Tablet Portrait */
@media (max-width: 768px) {
  /* line 274, C:/Users/georg/Desktop/brownbear/brownbears/scss/about-us.scss */
  .container {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    max-width: 768px;
  }
  /* line 279, C:/Users/georg/Desktop/brownbear/brownbears/scss/about-us.scss */
  .container .menu {
    display: block;
  }
  /* line 282, C:/Users/georg/Desktop/brownbear/brownbears/scss/about-us.scss */
  .container nav {
    width: 100%;
    display: none;
    background: #2B2B2B;
    text-align: center;
    padding: 0;
    padding-bottom: 2%;
    position: relative;
    right: 2%;
  }
  /* line 292, C:/Users/georg/Desktop/brownbear/brownbears/scss/about-us.scss */
  .container nav ul li {
    display: block;
    border-bottom: 1px solid #ccc;
  }
  /* line 296, C:/Users/georg/Desktop/brownbear/brownbears/scss/about-us.scss */
  .container nav ul li:last-child {
    border: none;
  }
  /* line 299, C:/Users/georg/Desktop/brownbear/brownbears/scss/about-us.scss */
  .container nav a {
    font-size: 140%;
    position: relative;
    right: 8%;
  }
  /* line 304, C:/Users/georg/Desktop/brownbear/brownbears/scss/about-us.scss */
  .container #logo-holder {
    width: 80%;
    left: 10%;
  }
  /* line 307, C:/Users/georg/Desktop/brownbear/brownbears/scss/about-us.scss */
  .container #logo-holder .logo {
    width: 90%;
  }
  /* line 311, C:/Users/georg/Desktop/brownbear/brownbears/scss/about-us.scss */
  .container #text {
    width: 80%;
    left: 10%;
  }
  /* line 315, C:/Users/georg/Desktop/brownbear/brownbears/scss/about-us.scss */
  .container #links {
    width: 90%;
  }
  /* line 317, C:/Users/georg/Desktop/brownbear/brownbears/scss/about-us.scss */
  .container #links .media-links {
    width: 5%;
  }
}

/* Mobile Landscape */
@media (max-width: 740px) {
  /* line 328, C:/Users/georg/Desktop/brownbear/brownbears/scss/about-us.scss */
  .container {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    max-width: 740px;
  }
  /* line 333, C:/Users/georg/Desktop/brownbear/brownbears/scss/about-us.scss */
  .container .menu {
    display: block;
  }
  /* line 336, C:/Users/georg/Desktop/brownbear/brownbears/scss/about-us.scss */
  .container nav {
    width: 100%;
    display: none;
    background: #2B2B2B;
    text-align: center;
    padding: 0;
    padding-bottom: 2%;
    position: relative;
    right: 2%;
  }
  /* line 346, C:/Users/georg/Desktop/brownbear/brownbears/scss/about-us.scss */
  .container nav ul li {
    display: block;
    border-bottom: 1px solid #ccc;
    text-align: center;
  }
  /* line 351, C:/Users/georg/Desktop/brownbear/brownbears/scss/about-us.scss */
  .container nav ul li:last-child {
    border: none;
  }
  /* line 354, C:/Users/georg/Desktop/brownbear/brownbears/scss/about-us.scss */
  .container nav a {
    font-size: 100%;
    position: relative;
    right: 9%;
  }
  /* line 359, C:/Users/georg/Desktop/brownbear/brownbears/scss/about-us.scss */
  .container #logo-holder {
    width: 50%;
    left: 25%;
  }
  /* line 362, C:/Users/georg/Desktop/brownbear/brownbears/scss/about-us.scss */
  .container #logo-holder .logo {
    width: 100%;
  }
  /* line 366, C:/Users/georg/Desktop/brownbear/brownbears/scss/about-us.scss */
  .container #text {
    width: 80%;
    left: 10%;
    padding-top: 4%;
  }
  /* line 370, C:/Users/georg/Desktop/brownbear/brownbears/scss/about-us.scss */
  .container #text p {
    font-size: 100%;
  }
  /* line 374, C:/Users/georg/Desktop/brownbear/brownbears/scss/about-us.scss */
  .container #links {
    width: 90%;
    left: 0;
    margin-top: 1%;
  }
  /* line 378, C:/Users/georg/Desktop/brownbear/brownbears/scss/about-us.scss */
  .container #links .media-links {
    width: 5%;
    margin-top: 5%;
  }
}

/* Mobile Portrait */
@media (max-width: 414px) {
  /* line 390, C:/Users/georg/Desktop/brownbear/brownbears/scss/about-us.scss */
  .container {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    max-width: 414px;
  }
  /* line 395, C:/Users/georg/Desktop/brownbear/brownbears/scss/about-us.scss */
  .container .menu {
    display: block;
  }
  /* line 398, C:/Users/georg/Desktop/brownbear/brownbears/scss/about-us.scss */
  .container nav {
    width: 100%;
    display: none;
    background: #2B2B2B;
    text-align: center;
    padding: 0;
    padding-bottom: 2%;
    position: relative;
    right: 3%;
  }
  /* line 408, C:/Users/georg/Desktop/brownbear/brownbears/scss/about-us.scss */
  .container nav ul li {
    display: block;
    border-bottom: 1px solid #ccc;
  }
  /* line 412, C:/Users/georg/Desktop/brownbear/brownbears/scss/about-us.scss */
  .container nav ul li:last-child {
    border: none;
  }
  /* line 415, C:/Users/georg/Desktop/brownbear/brownbears/scss/about-us.scss */
  .container nav a {
    font-size: 100%;
    position: relative;
    right: 10%;
  }
  /* line 420, C:/Users/georg/Desktop/brownbear/brownbears/scss/about-us.scss */
  .container #logo-holder {
    width: 80%;
    left: 10%;
  }
  /* line 423, C:/Users/georg/Desktop/brownbear/brownbears/scss/about-us.scss */
  .container #logo-holder .logo {
    width: 90%;
  }
  /* line 427, C:/Users/georg/Desktop/brownbear/brownbears/scss/about-us.scss */
  .container #text {
    width: 80%;
    left: 10%;
  }
  /* line 430, C:/Users/georg/Desktop/brownbear/brownbears/scss/about-us.scss */
  .container #text p {
    font-size: 100%;
  }
  /* line 434, C:/Users/georg/Desktop/brownbear/brownbears/scss/about-us.scss */
  .container #links {
    width: 90%;
    right: 0;
    left: 10%;
  }
  /* line 438, C:/Users/georg/Desktop/brownbear/brownbears/scss/about-us.scss */
  .container #links .media-links {
    width: 10%;
  }
}

/*# sourceMappingURL=../css/about-us.map */