/* line 12, C:/Users/George Houghton/Desktop/brownbears/scss/contact.scss */
body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #2B2B2B;
}

/* line 20, C:/Users/George Houghton/Desktop/brownbears/scss/contact.scss */
.container {
  margin: 0 auto;
  padding: 0;
  width: 95%;
  max-width: 1920px;
  min-width: 1024px;
  text-align: center;
}

/* line 31, C:/Users/George Houghton/Desktop/brownbears/scss/contact.scss */
.table {
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

/* line 40, C:/Users/George Houghton/Desktop/brownbears/scss/contact.scss */
.col-1 {
  width: 8.33333333333%;
}

/* line 45, C:/Users/George Houghton/Desktop/brownbears/scss/contact.scss */
.col-2 {
  width: 16.6666666667%;
}

/* line 48, C:/Users/George Houghton/Desktop/brownbears/scss/contact.scss */
.col-3 {
  width: 25%;
}

/* line 51, C:/Users/George Houghton/Desktop/brownbears/scss/contact.scss */
.col-4 {
  width: 33.3333333333%;
}

/* line 55, C:/Users/George Houghton/Desktop/brownbears/scss/contact.scss */
.col-5 {
  width: 41.6666666667%;
}

/* line 58, C:/Users/George Houghton/Desktop/brownbears/scss/contact.scss */
.col-6 {
  width: 50%;
}

/* line 61, C:/Users/George Houghton/Desktop/brownbears/scss/contact.scss */
.col-7 {
  width: 58.3333333333%;
}

/* line 64, C:/Users/George Houghton/Desktop/brownbears/scss/contact.scss */
.col-8 {
  width: 66.6666666666%;
}

/* line 67, C:/Users/George Houghton/Desktop/brownbears/scss/contact.scss */
.col-9 {
  width: 75%;
}

/* line 70, C:/Users/George Houghton/Desktop/brownbears/scss/contact.scss */
.col-10 {
  width: 83.3333333333%;
}

/* line 73, C:/Users/George Houghton/Desktop/brownbears/scss/contact.scss */
.col-11 {
  width: 91.6666666666%;
}

/* line 76, C:/Users/George Houghton/Desktop/brownbears/scss/contact.scss */
.col-12 {
  width: 100%;
}

/* line 80, C:/Users/George Houghton/Desktop/brownbears/scss/contact.scss */
[class*="col-"] {
  float: left;
}

/* line 87, C:/Users/George Houghton/Desktop/brownbears/scss/contact.scss */
.row:before
:after {
  clear: both;
  content: "";
}

/* line 94, C:/Users/George Houghton/Desktop/brownbears/scss/contact.scss */
.menu {
  display: none;
  width: 50px;
  height: 40px;
  padding: 1em;
}

/* line 103, C:/Users/George Houghton/Desktop/brownbears/scss/contact.scss */
.menu:hover {
  cursor: pointer;
}

/* line 106, C:/Users/George Houghton/Desktop/brownbears/scss/contact.scss */
.menu li {
  list-style: none;
  margin: 5px 0;
  width: 50px;
  height: 8px;
  background: #949494;
}

/* line 113, C:/Users/George Houghton/Desktop/brownbears/scss/contact.scss */
.on {
  transform: rotate(90deg);
}

/* line 116, C:/Users/George Houghton/Desktop/brownbears/scss/contact.scss */
.on li {
  background: #ddd;
}

/* line 120, C:/Users/George Houghton/Desktop/brownbears/scss/contact.scss */
nav {
  background-color: #2B2B2B;
  text-align: right;
}

/* line 127, C:/Users/George Houghton/Desktop/brownbears/scss/contact.scss */
nav ul li {
  display: inline-block;
  line-height: 2;
  text-align: center;
}

/* line 135, C:/Users/George Houghton/Desktop/brownbears/scss/contact.scss */
nav a {
  display: block;
  font-family: "Roboto", sans-serif;
  font-size: 100%;
  text-decoration: none;
  color: #EFEFEF;
  margin-left: 15%;
}

/* line 144, C:/Users/George Houghton/Desktop/brownbears/scss/contact.scss */
nav a:hover {
  color: #999;
}

/* line 147, C:/Users/George Houghton/Desktop/brownbears/scss/contact.scss */
a, .menu, .menu li {
  transition: all 0.3s ease-out;
}

/* line 153, C:/Users/George Houghton/Desktop/brownbears/scss/contact.scss */
#logo-holder {
  margin: 0 auto;
  padding: 0;
  position: relative;
  top: 25%;
  left: 0%;
}

/* line 161, C:/Users/George Houghton/Desktop/brownbears/scss/contact.scss */
#logo-holder .logo {
  margin: 0;
  padding: 0;
  width: 100%;
}

/* line 168, C:/Users/George Houghton/Desktop/brownbears/scss/contact.scss */
#links {
  margin: 0;
  padding: 0;
  margin-top: 15%;
  position: relative;
  top: 25%;
  right: 15%;
}

/* line 176, C:/Users/George Houghton/Desktop/brownbears/scss/contact.scss */
#links .media-links {
  margin: 0 auto;
  width: 25%;
  display: inline;
  margin-top: 30%;
  margin-left: 5%;
}

/* line 185, C:/Users/George Houghton/Desktop/brownbears/scss/contact.scss */
#links #inner {
  margin: 0 auto;
  padding: 0;
  text-align: center;
  position: relative;
  top: 10%;
}

/* line 194, C:/Users/George Houghton/Desktop/brownbears/scss/contact.scss */
#links #insta {
  margin-left: 5%;
}

/* line 197, C:/Users/George Houghton/Desktop/brownbears/scss/contact.scss */
#links #phone {
  margin-left: 5%;
}

/* line 202, C:/Users/George Houghton/Desktop/brownbears/scss/contact.scss */
h1 {
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  color: #EFEFEF;
  font-size: 150%;
  margin-left: 6%;
  margin-top: 2%;
}

/* Tablet Portait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  /* line 220, C:/Users/George Houghton/Desktop/brownbears/scss/contact.scss */
  .container {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    max-width: 1024px;
    min-width: 768px;
  }
  /* line 227, C:/Users/George Houghton/Desktop/brownbears/scss/contact.scss */
  .container .menu {
    display: block;
  }
  /* line 231, C:/Users/George Houghton/Desktop/brownbears/scss/contact.scss */
  .container nav {
    width: 85%;
    display: none;
    background: #2B2B2B;
    text-align: center;
    padding: 0;
    padding-bottom: 2%;
  }
  /* line 239, C:/Users/George Houghton/Desktop/brownbears/scss/contact.scss */
  .container nav ul li {
    display: block;
    border-bottom: 1px solid #ccc;
  }
  /* line 244, C:/Users/George Houghton/Desktop/brownbears/scss/contact.scss */
  .container nav ul li:last-child {
    border: none;
  }
  /* line 248, C:/Users/George Houghton/Desktop/brownbears/scss/contact.scss */
  .container nav a {
    font-size: 140%;
  }
  /* line 252, C:/Users/George Houghton/Desktop/brownbears/scss/contact.scss */
  .container #logo-holder {
    width: 80%;
    left: 10%;
  }
  /* line 256, C:/Users/George Houghton/Desktop/brownbears/scss/contact.scss */
  .container #logo-holder .logo {
    width: 90%;
  }
  /* line 261, C:/Users/George Houghton/Desktop/brownbears/scss/contact.scss */
  .container #links {
    width: 80%;
    right: 0;
    left: 10%;
  }
  /* line 266, C:/Users/George Houghton/Desktop/brownbears/scss/contact.scss */
  .container #left, .container #right {
    width: 50%;
  }
  /* line 269, C:/Users/George Houghton/Desktop/brownbears/scss/contact.scss */
  .container #left .media-links, .container #right .media-links {
    width: 40%;
  }
  /* line 275, C:/Users/George Houghton/Desktop/brownbears/scss/contact.scss */
  .container #left h1, .container #right h1 {
    display: none;
  }
}

/* Tablet Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
  /* line 290, C:/Users/George Houghton/Desktop/brownbears/scss/contact.scss */
  .container {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    max-width: 1024px;
    min-width: 768px;
  }
  /* line 297, C:/Users/George Houghton/Desktop/brownbears/scss/contact.scss */
  .container .menu {
    display: block;
  }
  /* line 301, C:/Users/George Houghton/Desktop/brownbears/scss/contact.scss */
  .container nav {
    width: 85%;
    display: none;
    background: #2B2B2B;
    text-align: center;
    padding: 0;
    padding-bottom: 2%;
  }
  /* line 309, C:/Users/George Houghton/Desktop/brownbears/scss/contact.scss */
  .container nav ul li {
    display: block;
    border-bottom: 1px solid #ccc;
  }
  /* line 314, C:/Users/George Houghton/Desktop/brownbears/scss/contact.scss */
  .container nav ul li:last-child {
    border: none;
  }
  /* line 318, C:/Users/George Houghton/Desktop/brownbears/scss/contact.scss */
  .container nav a {
    font-size: 140%;
  }
  /* line 322, C:/Users/George Houghton/Desktop/brownbears/scss/contact.scss */
  .container #logo-holder {
    width: 33.3333333333%;
    left: 33%;
  }
  /* line 326, C:/Users/George Houghton/Desktop/brownbears/scss/contact.scss */
  .container #logo-holder .logo {
    width: 100%;
  }
  /* line 331, C:/Users/George Houghton/Desktop/brownbears/scss/contact.scss */
  .container #links {
    width: 90%;
    left: 0;
  }
  /* line 335, C:/Users/George Houghton/Desktop/brownbears/scss/contact.scss */
  .container #links .media-links {
    width: 35%;
    margin-top: 5%;
  }
  /* line 339, C:/Users/George Houghton/Desktop/brownbears/scss/contact.scss */
  .container #links .media-links #email {
    margin-right: 20%;
  }
  /* line 343, C:/Users/George Houghton/Desktop/brownbears/scss/contact.scss */
  .container #links h1 {
    font-size: 90%;
  }
}

/* Mobile Portrait */
@media only screen and (min-device-width: 320px) and (max-device-width: 740px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  /* line 361, C:/Users/George Houghton/Desktop/brownbears/scss/contact.scss */
  .container {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    max-width: 480px;
    min-width: 320px;
  }
  /* line 368, C:/Users/George Houghton/Desktop/brownbears/scss/contact.scss */
  .container .menu {
    display: block;
  }
  /* line 372, C:/Users/George Houghton/Desktop/brownbears/scss/contact.scss */
  .container nav {
    width: 85%;
    display: none;
    background: #2B2B2B;
    text-align: center;
    padding: 0;
    padding-bottom: 2%;
  }
  /* line 380, C:/Users/George Houghton/Desktop/brownbears/scss/contact.scss */
  .container nav ul li {
    display: block;
    border-bottom: 1px solid #ccc;
    text-align: center;
  }
  /* line 386, C:/Users/George Houghton/Desktop/brownbears/scss/contact.scss */
  .container nav ul li:last-child {
    border: none;
  }
  /* line 390, C:/Users/George Houghton/Desktop/brownbears/scss/contact.scss */
  .container nav a {
    font-size: 100%;
  }
  /* line 394, C:/Users/George Houghton/Desktop/brownbears/scss/contact.scss */
  .container #logo-holder {
    width: 80%;
    left: 10%;
  }
  /* line 398, C:/Users/George Houghton/Desktop/brownbears/scss/contact.scss */
  .container #logo-holder .logo {
    width: 90%;
  }
  /* line 403, C:/Users/George Houghton/Desktop/brownbears/scss/contact.scss */
  .container #links {
    width: 80%;
    right: 0;
    left: 10%;
    background-color: red;
    text-align: center;
  }
  /* line 410, C:/Users/George Houghton/Desktop/brownbears/scss/contact.scss */
  .container #left, .container #right {
    width: 50%;
    text-align: center;
  }
  /* line 414, C:/Users/George Houghton/Desktop/brownbears/scss/contact.scss */
  .container #left .media-links, .container #right .media-links {
    width: 40%;
  }
  /* line 419, C:/Users/George Houghton/Desktop/brownbears/scss/contact.scss */
  .container #left h1, .container #right h1 {
    display: none;
  }
}

/* Mobile Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 740px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  /* line 434, C:/Users/George Houghton/Desktop/brownbears/scss/contact.scss */
  .container {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    max-width: 740px;
    min-width: 320px;
  }
  /* line 441, C:/Users/George Houghton/Desktop/brownbears/scss/contact.scss */
  .container .menu {
    display: block;
  }
  /* line 445, C:/Users/George Houghton/Desktop/brownbears/scss/contact.scss */
  .container nav {
    width: 85%;
    display: none;
    background: #2B2B2B;
    text-align: center;
    padding: 0;
    padding-bottom: 2%;
  }
  /* line 453, C:/Users/George Houghton/Desktop/brownbears/scss/contact.scss */
  .container nav ul li {
    display: block;
    border-bottom: 1px solid #ccc;
    text-align: center;
  }
  /* line 459, C:/Users/George Houghton/Desktop/brownbears/scss/contact.scss */
  .container nav ul li:last-child {
    border: none;
  }
  /* line 463, C:/Users/George Houghton/Desktop/brownbears/scss/contact.scss */
  .container nav a {
    font-size: 100%;
  }
  /* line 467, C:/Users/George Houghton/Desktop/brownbears/scss/contact.scss */
  .container #logo-holder {
    width: 50%;
    left: 25%;
  }
  /* line 471, C:/Users/George Houghton/Desktop/brownbears/scss/contact.scss */
  .container #logo-holder .logo {
    width: 100%;
  }
  /* line 475, C:/Users/George Houghton/Desktop/brownbears/scss/contact.scss */
  .container #links {
    width: 90%;
    left: 0;
    margin-top: 8%;
  }
  /* line 480, C:/Users/George Houghton/Desktop/brownbears/scss/contact.scss */
  .container #links #left, .container #links #right {
    text-align: center;
  }
  /* line 484, C:/Users/George Houghton/Desktop/brownbears/scss/contact.scss */
  .container #links .media-links {
    width: 35%;
    margin-top: 5%;
  }
  /* line 489, C:/Users/George Houghton/Desktop/brownbears/scss/contact.scss */
  .container #links h1 {
    display: none;
  }
}

/*# sourceMappingURL=../css/contact.map */