/* line 12, C:/Users/georg/Desktop/brownbear/brownbears/scss/contact.scss */
body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #2B2B2B;
}

/* line 20, C:/Users/georg/Desktop/brownbear/brownbears/scss/contact.scss */
.container {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  max-width: 1920px;
  min-width: 1024px;
  text-align: center;
}

/* line 31, C:/Users/georg/Desktop/brownbear/brownbears/scss/contact.scss */
.table {
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

/* line 40, C:/Users/georg/Desktop/brownbear/brownbears/scss/contact.scss */
.col-1 {
  width: 8.33333333333%;
}

/* line 45, C:/Users/georg/Desktop/brownbear/brownbears/scss/contact.scss */
.col-2 {
  width: 16.6666666667%;
}

/* line 48, C:/Users/georg/Desktop/brownbear/brownbears/scss/contact.scss */
.col-3 {
  width: 25%;
}

/* line 51, C:/Users/georg/Desktop/brownbear/brownbears/scss/contact.scss */
.col-4 {
  width: 33.3333333333%;
}

/* line 55, C:/Users/georg/Desktop/brownbear/brownbears/scss/contact.scss */
.col-5 {
  width: 41.6666666667%;
}

/* line 58, C:/Users/georg/Desktop/brownbear/brownbears/scss/contact.scss */
.col-6 {
  width: 50%;
}

/* line 61, C:/Users/georg/Desktop/brownbear/brownbears/scss/contact.scss */
.col-7 {
  width: 58.3333333333%;
}

/* line 64, C:/Users/georg/Desktop/brownbear/brownbears/scss/contact.scss */
.col-8 {
  width: 66.6666666666%;
}

/* line 67, C:/Users/georg/Desktop/brownbear/brownbears/scss/contact.scss */
.col-9 {
  width: 75%;
}

/* line 70, C:/Users/georg/Desktop/brownbear/brownbears/scss/contact.scss */
.col-10 {
  width: 83.3333333333%;
}

/* line 73, C:/Users/georg/Desktop/brownbear/brownbears/scss/contact.scss */
.col-11 {
  width: 91.6666666666%;
}

/* line 76, C:/Users/georg/Desktop/brownbear/brownbears/scss/contact.scss */
.col-12 {
  width: 100%;
}

/* line 80, C:/Users/georg/Desktop/brownbear/brownbears/scss/contact.scss */
[class*="col-"] {
  float: left;
}

/* line 87, C:/Users/georg/Desktop/brownbear/brownbears/scss/contact.scss */
.row:before
:after {
  clear: both;
  content: "";
}

/* line 95, C:/Users/georg/Desktop/brownbear/brownbears/scss/contact.scss */
.menu {
  display: none;
  width: 50px;
  height: 40px;
  padding: 1em;
}

/* line 102, C:/Users/georg/Desktop/brownbear/brownbears/scss/contact.scss */
.menu:hover {
  cursor: pointer;
}

/* line 105, C:/Users/georg/Desktop/brownbear/brownbears/scss/contact.scss */
.menu li {
  list-style: none;
  margin: 5px 0;
  width: 50px;
  height: 8px;
  background: #949494;
}

/*
.on{
	transform:rotate(90deg);
}
*/
/* line 118, C:/Users/georg/Desktop/brownbear/brownbears/scss/contact.scss */
.on li {
  background: #ddd;
}

/* line 122, C:/Users/georg/Desktop/brownbear/brownbears/scss/contact.scss */
nav {
  background-color: #2B2B2B;
  text-align: right;
  width: 50%;
  position: relative;
  left: 50%;
}

/* line 130, C:/Users/georg/Desktop/brownbear/brownbears/scss/contact.scss */
nav ul li {
  display: inline-block;
  margin: 0 .8em;
  text-align: center;
}

/* line 138, C:/Users/georg/Desktop/brownbear/brownbears/scss/contact.scss */
nav a {
  display: block;
  font-family: "Roboto", sans-serif;
  font-size: 100%;
  text-decoration: none;
  color: #EFEFEF;
  margin-left: 2%;
}

/* line 146, C:/Users/georg/Desktop/brownbear/brownbears/scss/contact.scss */
nav a:hover {
  color: #999;
}

/* line 149, C:/Users/georg/Desktop/brownbear/brownbears/scss/contact.scss */
a, .menu, .menu li {
  transition: all 0.3s ease-out;
}

/* line 155, C:/Users/georg/Desktop/brownbear/brownbears/scss/contact.scss */
#logo-holder {
  margin: 0 auto;
  padding: 0;
  position: relative;
  top: 25%;
  left: 0%;
}

/* line 163, C:/Users/georg/Desktop/brownbear/brownbears/scss/contact.scss */
#logo-holder .logo {
  margin: 0;
  padding: 0;
  width: 100%;
}

/* line 170, C:/Users/georg/Desktop/brownbear/brownbears/scss/contact.scss */
#links {
  margin: 0;
  padding: 0;
  margin-top: 15%;
  position: relative;
  top: 25%;
  right: 15%;
}

/* line 178, C:/Users/georg/Desktop/brownbear/brownbears/scss/contact.scss */
#links .media-links {
  margin: 0 auto;
  width: 20%;
  display: inline;
  min-width: 100px;
  margin-top: 30%;
  margin-left: 5%;
}

/* line 188, C:/Users/georg/Desktop/brownbear/brownbears/scss/contact.scss */
#links #inner {
  margin: 0 auto;
  padding: 0;
  text-align: center;
  position: relative;
  top: 10%;
}

/* line 197, C:/Users/georg/Desktop/brownbear/brownbears/scss/contact.scss */
#links #insta {
  margin-left: 5%;
}

/* line 200, C:/Users/georg/Desktop/brownbear/brownbears/scss/contact.scss */
#links #phone {
  margin-left: 5%;
}

/* line 203, C:/Users/georg/Desktop/brownbear/brownbears/scss/contact.scss */
#links #email {
  margin-left: 20%;
}

/* line 207, C:/Users/georg/Desktop/brownbear/brownbears/scss/contact.scss */
#links h1 {
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  color: #EFEFEF;
  font-size: 150%;
  margin-left: 6%;
  margin-top: 2%;
}

/* Tablet Portait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  /* line 226, C:/Users/georg/Desktop/brownbear/brownbears/scss/contact.scss */
  .container {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    max-width: 768px;
    min-width: 481px;
  }
  /* line 233, C:/Users/georg/Desktop/brownbear/brownbears/scss/contact.scss */
  .container nav {
    width: 100%;
    left: 0;
  }
  /* line 237, C:/Users/georg/Desktop/brownbear/brownbears/scss/contact.scss */
  .container nav a {
    margin-left: 20px;
  }
  /* line 241, C:/Users/georg/Desktop/brownbear/brownbears/scss/contact.scss */
  .container #logo-holder {
    width: 33.3333333333%;
    left: 3%;
  }
  /* line 245, C:/Users/georg/Desktop/brownbear/brownbears/scss/contact.scss */
  .container #logo-holder .logo {
    width: 100%;
  }
  /* line 249, C:/Users/georg/Desktop/brownbear/brownbears/scss/contact.scss */
  .container #links {
    width: 100%;
    left: 0;
  }
  /* line 253, C:/Users/georg/Desktop/brownbear/brownbears/scss/contact.scss */
  .container #links h1 {
    font-size: 90%;
  }
}

/* Tablet Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
  /* line 268, C:/Users/georg/Desktop/brownbear/brownbears/scss/contact.scss */
  .container {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    max-width: 768px;
    min-width: 1024px;
  }
  /* line 275, C:/Users/georg/Desktop/brownbear/brownbears/scss/contact.scss */
  .container nav {
    width: 100%;
    left: 0;
  }
  /* line 279, C:/Users/georg/Desktop/brownbear/brownbears/scss/contact.scss */
  .container nav a {
    margin-left: 20px;
  }
  /* line 283, C:/Users/georg/Desktop/brownbear/brownbears/scss/contact.scss */
  .container #logo-holder {
    width: 33.3333333333%;
    left: 3%;
  }
  /* line 287, C:/Users/georg/Desktop/brownbear/brownbears/scss/contact.scss */
  .container #logo-holder .logo {
    width: 100%;
  }
  /* line 292, C:/Users/georg/Desktop/brownbear/brownbears/scss/contact.scss */
  .container #links {
    width: 100%;
    left: 0;
  }
  /* line 296, C:/Users/georg/Desktop/brownbear/brownbears/scss/contact.scss */
  .container #links .media-links {
    width: 10%;
  }
  /* line 299, C:/Users/georg/Desktop/brownbear/brownbears/scss/contact.scss */
  .container #links .media-links #email {
    right: 50%;
  }
  /* line 303, C:/Users/georg/Desktop/brownbear/brownbears/scss/contact.scss */
  .container #links h1 {
    font-size: 90%;
  }
}

/* Mobile Portrait */
@media only screen and (min-device-width: 320px) and (max-device-width: 740px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  /* line 321, C:/Users/georg/Desktop/brownbear/brownbears/scss/contact.scss */
  .container {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    max-width: 480px;
    min-width: 320px;
  }
  /* line 328, C:/Users/georg/Desktop/brownbear/brownbears/scss/contact.scss */
  .container .menu {
    display: block;
  }
  /* line 334, C:/Users/georg/Desktop/brownbear/brownbears/scss/contact.scss */
  .container nav {
    width: 100%;
    display: none;
    background: #2B2B2B;
    text-align: center;
    left: -5%;
  }
  /* line 341, C:/Users/georg/Desktop/brownbear/brownbears/scss/contact.scss */
  .container nav ul li {
    display: block;
    margin: 0.6em 0.8em !important;
    border-bottom: 2px solid #ccc;
  }
  /* line 346, C:/Users/georg/Desktop/brownbear/brownbears/scss/contact.scss */
  .container nav ul li:last-child {
    border: none;
  }
  /* line 350, C:/Users/georg/Desktop/brownbear/brownbears/scss/contact.scss */
  .container nav a {
    font-size: 150%;
  }
  /* line 354, C:/Users/georg/Desktop/brownbear/brownbears/scss/contact.scss */
  .container #logo-holder {
    width: 80%;
    left: 10%;
  }
  /* line 358, C:/Users/georg/Desktop/brownbear/brownbears/scss/contact.scss */
  .container #logo-holder .logo {
    width: 90%;
  }
  /* line 363, C:/Users/georg/Desktop/brownbear/brownbears/scss/contact.scss */
  .container #links {
    width: 80%;
  }
  /* line 366, C:/Users/georg/Desktop/brownbear/brownbears/scss/contact.scss */
  .container #left, .container #right {
    width: 50%;
  }
  /* line 369, C:/Users/georg/Desktop/brownbear/brownbears/scss/contact.scss */
  .container .media-links {
    width: 5%;
  }
  /* line 372, C:/Users/georg/Desktop/brownbear/brownbears/scss/contact.scss */
  .container h1 {
    display: none;
  }
}

/* Mobile Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 740px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  /* line 386, C:/Users/georg/Desktop/brownbear/brownbears/scss/contact.scss */
  .container {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    max-width: 740px;
    min-width: 320px;
  }
}

/*# sourceMappingURL=../css/contact.map */