/* line 12, C:/Users/George Houghton/Desktop/brownbears/scss/contact.scss */
body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #2B2B2B;
}

/* line 20, C:/Users/George Houghton/Desktop/brownbears/scss/contact.scss */
.container {
  margin: 0 auto;
  padding: 0;
  width: 95%;
  max-width: 1920px;
  min-width: 1024px;
  text-align: center;
}

/* line 31, C:/Users/George Houghton/Desktop/brownbears/scss/contact.scss */
.table {
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

/* line 40, C:/Users/George Houghton/Desktop/brownbears/scss/contact.scss */
.col-1 {
  width: 8.33333333333%;
}

/* line 45, C:/Users/George Houghton/Desktop/brownbears/scss/contact.scss */
.col-2 {
  width: 16.6666666667%;
}

/* line 48, C:/Users/George Houghton/Desktop/brownbears/scss/contact.scss */
.col-3 {
  width: 25%;
}

/* line 51, C:/Users/George Houghton/Desktop/brownbears/scss/contact.scss */
.col-4 {
  width: 33.3333333333%;
}

/* line 55, C:/Users/George Houghton/Desktop/brownbears/scss/contact.scss */
.col-5 {
  width: 41.6666666667%;
}

/* line 58, C:/Users/George Houghton/Desktop/brownbears/scss/contact.scss */
.col-6 {
  width: 50%;
}

/* line 61, C:/Users/George Houghton/Desktop/brownbears/scss/contact.scss */
.col-7 {
  width: 58.3333333333%;
}

/* line 64, C:/Users/George Houghton/Desktop/brownbears/scss/contact.scss */
.col-8 {
  width: 66.6666666666%;
}

/* line 67, C:/Users/George Houghton/Desktop/brownbears/scss/contact.scss */
.col-9 {
  width: 75%;
}

/* line 70, C:/Users/George Houghton/Desktop/brownbears/scss/contact.scss */
.col-10 {
  width: 83.3333333333%;
}

/* line 73, C:/Users/George Houghton/Desktop/brownbears/scss/contact.scss */
.col-11 {
  width: 91.6666666666%;
}

/* line 76, C:/Users/George Houghton/Desktop/brownbears/scss/contact.scss */
.col-12 {
  width: 100%;
}

/* line 80, C:/Users/George Houghton/Desktop/brownbears/scss/contact.scss */
[class*="col-"] {
  float: left;
}

/* line 87, C:/Users/George Houghton/Desktop/brownbears/scss/contact.scss */
.row:before
:after {
  clear: both;
  content: "";
}

/* line 94, C:/Users/George Houghton/Desktop/brownbears/scss/contact.scss */
.menu {
  display: none;
  width: 50px;
  height: 40px;
  padding: 1em;
}

/* line 103, C:/Users/George Houghton/Desktop/brownbears/scss/contact.scss */
.menu:hover {
  cursor: pointer;
}

/* line 106, C:/Users/George Houghton/Desktop/brownbears/scss/contact.scss */
.menu li {
  list-style: none;
  margin: 5px 0;
  width: 50px;
  height: 8px;
  background: #949494;
}

/* line 113, C:/Users/George Houghton/Desktop/brownbears/scss/contact.scss */
.on {
  transform: rotate(90deg);
}

/* line 116, C:/Users/George Houghton/Desktop/brownbears/scss/contact.scss */
.on li {
  background: #ddd;
}

/* line 120, C:/Users/George Houghton/Desktop/brownbears/scss/contact.scss */
nav {
  font: 1em sans-serif;
  background-color: #2B2B2B;
  text-align: center;
  text-align: right;
  width: 100%;
}

/* line 128, C:/Users/George Houghton/Desktop/brownbears/scss/contact.scss */
nav ul li {
  display: inline-block;
  line-height: 2;
  text-align: center;
}

/* line 136, C:/Users/George Houghton/Desktop/brownbears/scss/contact.scss */
nav a {
  display: block;
  font-family: "Roboto", sans-serif;
  font-size: 100%;
  text-decoration: none;
  color: #EFEFEF;
  margin-left: 20%;
}

/* line 144, C:/Users/George Houghton/Desktop/brownbears/scss/contact.scss */
nav a:hover {
  color: #999;
}

/* line 147, C:/Users/George Houghton/Desktop/brownbears/scss/contact.scss */
a, .menu, .menu li {
  transition: all 0.3s ease-out;
}

/* line 153, C:/Users/George Houghton/Desktop/brownbears/scss/contact.scss */
#logo-holder {
  margin: 0 auto;
  padding: 0;
  position: relative;
  top: 25%;
  left: 0%;
}

/* line 161, C:/Users/George Houghton/Desktop/brownbears/scss/contact.scss */
#logo-holder .logo {
  margin: 0;
  padding: 0;
  width: 100%;
}

/* line 168, C:/Users/George Houghton/Desktop/brownbears/scss/contact.scss */
#links {
  margin: 0;
  padding: 0;
  margin-top: 15%;
  position: relative;
  top: 25%;
  right: 15%;
}

/* line 176, C:/Users/George Houghton/Desktop/brownbears/scss/contact.scss */
#links .media-links {
  margin: 0 auto;
  width: 25%;
  display: inline;
  margin-top: 30%;
  margin-left: 5%;
}

/* line 185, C:/Users/George Houghton/Desktop/brownbears/scss/contact.scss */
#links #inner {
  margin: 0 auto;
  padding: 0;
  text-align: center;
  position: relative;
  top: 10%;
}

/* line 194, C:/Users/George Houghton/Desktop/brownbears/scss/contact.scss */
#links #insta {
  margin-left: 5%;
}

/* line 197, C:/Users/George Houghton/Desktop/brownbears/scss/contact.scss */
#links #phone {
  margin-left: 5%;
}

/* line 200, C:/Users/George Houghton/Desktop/brownbears/scss/contact.scss */
#links #email {
  margin-left: 49%;
}

/* line 204, C:/Users/George Houghton/Desktop/brownbears/scss/contact.scss */
#links h1 {
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  color: #EFEFEF;
  font-size: 150%;
  margin-left: 6%;
  margin-top: 2%;
}

/* Tablet Portait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  /* line 223, C:/Users/George Houghton/Desktop/brownbears/scss/contact.scss */
  .container {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    max-width: 768px;
    min-width: 481px;
  }
  /* line 230, C:/Users/George Houghton/Desktop/brownbears/scss/contact.scss */
  .container .menu {
    display: block;
  }
  /* line 234, C:/Users/George Houghton/Desktop/brownbears/scss/contact.scss */
  .container nav {
    width: 85%;
    display: none;
    background: #2B2B2B;
    text-align: center;
    margin-left: 3%;
    padding: 0;
    padding-bottom: 2%;
  }
  /* line 243, C:/Users/George Houghton/Desktop/brownbears/scss/contact.scss */
  .container nav ul li {
    display: block;
    border-bottom: 1px solid #ccc;
  }
  /* line 248, C:/Users/George Houghton/Desktop/brownbears/scss/contact.scss */
  .container nav ul li:last-child {
    border: none;
  }
  /* line 252, C:/Users/George Houghton/Desktop/brownbears/scss/contact.scss */
  .container nav a {
    font-size: 150%;
  }
  /* line 256, C:/Users/George Houghton/Desktop/brownbears/scss/contact.scss */
  .container #logo-holder {
    width: 80%;
    left: 10%;
  }
  /* line 260, C:/Users/George Houghton/Desktop/brownbears/scss/contact.scss */
  .container #logo-holder .logo {
    width: 90%;
  }
  /* line 265, C:/Users/George Houghton/Desktop/brownbears/scss/contact.scss */
  .container #links {
    width: 80%;
    right: 0;
    left: 10%;
  }
  /* line 270, C:/Users/George Houghton/Desktop/brownbears/scss/contact.scss */
  .container #left, .container #right {
    width: 50%;
  }
  /* line 273, C:/Users/George Houghton/Desktop/brownbears/scss/contact.scss */
  .container #left .media-links, .container #right .media-links {
    width: 40%;
  }
  /* line 276, C:/Users/George Houghton/Desktop/brownbears/scss/contact.scss */
  .container #left #email, .container #right #email {
    margin-right: 20%;
  }
  /* line 279, C:/Users/George Houghton/Desktop/brownbears/scss/contact.scss */
  .container #left h1, .container #right h1 {
    display: none;
  }
}

/* Tablet Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
  /* line 294, C:/Users/George Houghton/Desktop/brownbears/scss/contact.scss */
  .container {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    max-width: 768px;
    min-width: 1024px;
  }
  /* line 301, C:/Users/George Houghton/Desktop/brownbears/scss/contact.scss */
  .container nav {
    width: 90%;
    text-align: right;
  }
  /* line 306, C:/Users/George Houghton/Desktop/brownbears/scss/contact.scss */
  .container nav a {
    margin-left: 20px;
  }
  /* line 310, C:/Users/George Houghton/Desktop/brownbears/scss/contact.scss */
  .container #logo-holder {
    width: 33.3333333333%;
    left: 3%;
  }
  /* line 314, C:/Users/George Houghton/Desktop/brownbears/scss/contact.scss */
  .container #logo-holder .logo {
    width: 100%;
  }
  /* line 319, C:/Users/George Houghton/Desktop/brownbears/scss/contact.scss */
  .container #links {
    width: 90%;
    left: 0;
  }
  /* line 323, C:/Users/George Houghton/Desktop/brownbears/scss/contact.scss */
  .container #links .media-links {
    width: 35%;
    margin-top: 5%;
  }
  /* line 327, C:/Users/George Houghton/Desktop/brownbears/scss/contact.scss */
  .container #links .media-links #email {
    right: 50%;
  }
  /* line 331, C:/Users/George Houghton/Desktop/brownbears/scss/contact.scss */
  .container #links h1 {
    font-size: 90%;
  }
}

/* Mobile Portrait */
@media only screen and (min-device-width: 320px) and (max-device-width: 740px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  /* line 349, C:/Users/George Houghton/Desktop/brownbears/scss/contact.scss */
  .container {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    max-width: 480px;
    min-width: 320px;
  }
  /* line 356, C:/Users/George Houghton/Desktop/brownbears/scss/contact.scss */
  .container .menu {
    display: block;
  }
  /* line 360, C:/Users/George Houghton/Desktop/brownbears/scss/contact.scss */
  .container nav {
    width: 85%;
    display: none;
    background: #2B2B2B;
    text-align: center;
    margin-left: 3%;
    padding: 0;
    padding-bottom: 2%;
  }
  /* line 369, C:/Users/George Houghton/Desktop/brownbears/scss/contact.scss */
  .container nav ul li {
    display: block;
    border-bottom: 1px solid #ccc;
  }
  /* line 374, C:/Users/George Houghton/Desktop/brownbears/scss/contact.scss */
  .container nav ul li:last-child {
    border: none;
  }
  /* line 378, C:/Users/George Houghton/Desktop/brownbears/scss/contact.scss */
  .container nav a {
    font-size: 100%;
  }
  /* line 382, C:/Users/George Houghton/Desktop/brownbears/scss/contact.scss */
  .container #logo-holder {
    width: 80%;
    left: 10%;
  }
  /* line 386, C:/Users/George Houghton/Desktop/brownbears/scss/contact.scss */
  .container #logo-holder .logo {
    width: 90%;
  }
  /* line 391, C:/Users/George Houghton/Desktop/brownbears/scss/contact.scss */
  .container #links {
    width: 80%;
    right: 0;
    left: 10%;
  }
  /* line 396, C:/Users/George Houghton/Desktop/brownbears/scss/contact.scss */
  .container #left, .container #right {
    width: 50%;
  }
  /* line 399, C:/Users/George Houghton/Desktop/brownbears/scss/contact.scss */
  .container #left .media-links, .container #right .media-links {
    width: 40%;
  }
  /* line 402, C:/Users/George Houghton/Desktop/brownbears/scss/contact.scss */
  .container #left #email, .container #right #email {
    margin-right: 0;
  }
  /* line 405, C:/Users/George Houghton/Desktop/brownbears/scss/contact.scss */
  .container #left h1, .container #right h1 {
    display: none;
  }
}

/* Mobile Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 740px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  /* line 420, C:/Users/George Houghton/Desktop/brownbears/scss/contact.scss */
  .container {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    max-width: 740px;
    min-width: 320px;
  }
  /* line 427, C:/Users/George Houghton/Desktop/brownbears/scss/contact.scss */
  .container nav {
    width: 90%;
    text-align: right;
  }
  /* line 431, C:/Users/George Houghton/Desktop/brownbears/scss/contact.scss */
  .container nav a {
    margin-left: 20px;
  }
  /* line 435, C:/Users/George Houghton/Desktop/brownbears/scss/contact.scss */
  .container #logo-holder {
    width: 33.3333333333%;
    left: 34%;
  }
  /* line 439, C:/Users/George Houghton/Desktop/brownbears/scss/contact.scss */
  .container #logo-holder .logo {
    width: 100%;
  }
  /* line 443, C:/Users/George Houghton/Desktop/brownbears/scss/contact.scss */
  .container #links {
    width: 90%;
    left: 0;
    margin-top: 8%;
  }
  /* line 448, C:/Users/George Houghton/Desktop/brownbears/scss/contact.scss */
  .container #links #left, .container #links #right {
    text-align: center;
  }
  /* line 452, C:/Users/George Houghton/Desktop/brownbears/scss/contact.scss */
  .container #links .media-links {
    width: 35%;
    margin-top: 5%;
  }
  /* line 457, C:/Users/George Houghton/Desktop/brownbears/scss/contact.scss */
  .container #links h1 {
    display: none;
  }
}

/*# sourceMappingURL=../css/contact.map */