/* line 12, C:/Users/georg/Desktop/brownbear/brownbears/scss/index.scss */
body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #2B2B2B;
}

/* line 20, C:/Users/georg/Desktop/brownbear/brownbears/scss/index.scss */
.container {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  max-width: 1280px;
  min-width: 1024px;
}

/* line 30, C:/Users/georg/Desktop/brownbear/brownbears/scss/index.scss */
.table {
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

/* line 39, C:/Users/georg/Desktop/brownbear/brownbears/scss/index.scss */
.col-1 {
  width: 8.33333333333%;
}

/* line 44, C:/Users/georg/Desktop/brownbear/brownbears/scss/index.scss */
.col-2 {
  width: 16.6666666667%;
}

/* line 47, C:/Users/georg/Desktop/brownbear/brownbears/scss/index.scss */
.col-3 {
  width: 25%;
}

/* line 50, C:/Users/georg/Desktop/brownbear/brownbears/scss/index.scss */
.col-4 {
  width: 33.3333333333%;
}

/* line 54, C:/Users/georg/Desktop/brownbear/brownbears/scss/index.scss */
.col-5 {
  width: 41.6666666667%;
}

/* line 57, C:/Users/georg/Desktop/brownbear/brownbears/scss/index.scss */
.col-6 {
  width: 50%;
}

/* line 60, C:/Users/georg/Desktop/brownbear/brownbears/scss/index.scss */
.col-7 {
  width: 58.3333333333%;
}

/* line 63, C:/Users/georg/Desktop/brownbear/brownbears/scss/index.scss */
.col-8 {
  width: 66.6666666666%;
}

/* line 66, C:/Users/georg/Desktop/brownbear/brownbears/scss/index.scss */
.col-9 {
  width: 75%;
}

/* line 69, C:/Users/georg/Desktop/brownbear/brownbears/scss/index.scss */
.col-10 {
  width: 83.3333333333%;
}

/* line 72, C:/Users/georg/Desktop/brownbear/brownbears/scss/index.scss */
.col-11 {
  width: 91.6666666666%;
}

/* line 75, C:/Users/georg/Desktop/brownbear/brownbears/scss/index.scss */
.col-12 {
  width: 100%;
}

/* line 79, C:/Users/georg/Desktop/brownbear/brownbears/scss/index.scss */
[class*="col-"] {
  float: left;
}

/* line 86, C:/Users/georg/Desktop/brownbear/brownbears/scss/index.scss */
.row:before
:after {
  clear: both;
  content: "";
}

/* line 93, C:/Users/georg/Desktop/brownbear/brownbears/scss/index.scss */
#logo-holder {
  margin: 0 auto;
  padding: 0;
  margin-top: 12%;
  position: relative;
  left: 25%;
  text-align: center;
}

/* line 103, C:/Users/georg/Desktop/brownbear/brownbears/scss/index.scss */
#logo-holder .logo {
  margin: 0;
  padding: 0;
  width: 100%;
  padding-top: 30%;
}

/* line 110, C:/Users/georg/Desktop/brownbear/brownbears/scss/index.scss */
#logo-holder a {
  font-family: "Roboto", sans-serif;
  font-size: 120%;
  text-decoration: none;
  color: #EFEFEF;
  position: relative;
  top: 40%;
}

/* Tablet Portait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  /* line 129, C:/Users/georg/Desktop/brownbear/brownbears/scss/index.scss */
  .container {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    max-width: 768px;
    min-width: 481px;
  }
  /* line 136, C:/Users/georg/Desktop/brownbear/brownbears/scss/index.scss */
  .container #logo-holder {
    margin-top: 20%;
    width: 80%;
    position: relative;
    left: 10%;
  }
}

/* Tablet Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
  /* line 154, C:/Users/georg/Desktop/brownbear/brownbears/scss/index.scss */
  .container {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    max-width: 768px;
    min-width: 481px;
  }
  /* line 161, C:/Users/georg/Desktop/brownbear/brownbears/scss/index.scss */
  .container #logo-holder {
    width: 90%;
    position: relative;
    left: 5%;
    margin-top: 5%;
  }
  /* line 167, C:/Users/georg/Desktop/brownbear/brownbears/scss/index.scss */
  .container .logo {
    margin: 0;
    padding: 0;
    width: 100%;
    padding-top: 20%;
  }
}

/* Mobile Portrait */
@media only screen and (min-device-width: 320px) and (max-device-width: 740px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  /* line 187, C:/Users/georg/Desktop/brownbear/brownbears/scss/index.scss */
  .container {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    max-width: 480px;
    min-width: 320px;
  }
  /* line 194, C:/Users/georg/Desktop/brownbear/brownbears/scss/index.scss */
  .container #logo-holder {
    margin-top: 25%;
    width: 80%;
    left: 10%;
  }
  /* line 199, C:/Users/georg/Desktop/brownbear/brownbears/scss/index.scss */
  .container #logo-holder .logo {
    width: 100%;
  }
}

/* Mobile Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 740px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  /* line 215, C:/Users/georg/Desktop/brownbear/brownbears/scss/index.scss */
  .container {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    max-width: 480px;
    min-width: 320px;
  }
  /* line 222, C:/Users/georg/Desktop/brownbear/brownbears/scss/index.scss */
  .container #logo-holder {
    margin-top: 1%;
    width: 80%;
    left: 10%;
  }
  /* line 227, C:/Users/georg/Desktop/brownbear/brownbears/scss/index.scss */
  .container #logo-holder .logo {
    width: 100%;
  }
}

/*# sourceMappingURL=../css/index.map */