/* line 12, C:/Users/George Houghton/Desktop/brownbears/scss/main.scss */
body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #2B2B2B;
}

/* line 20, C:/Users/George Houghton/Desktop/brownbears/scss/main.scss */
.container {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  max-width: 1920px;
  min-width: 1024px;
  text-align: center;
}

/* line 31, C:/Users/George Houghton/Desktop/brownbears/scss/main.scss */
.table {
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

/* line 40, C:/Users/George Houghton/Desktop/brownbears/scss/main.scss */
.col-1 {
  width: 8.33333333333%;
}

/* line 45, C:/Users/George Houghton/Desktop/brownbears/scss/main.scss */
.col-2 {
  width: 16.6666666667%;
}

/* line 48, C:/Users/George Houghton/Desktop/brownbears/scss/main.scss */
.col-3 {
  width: 25%;
}

/* line 51, C:/Users/George Houghton/Desktop/brownbears/scss/main.scss */
.col-4 {
  width: 33.3333333333%;
}

/* line 55, C:/Users/George Houghton/Desktop/brownbears/scss/main.scss */
.col-5 {
  width: 41.6666666667%;
}

/* line 58, C:/Users/George Houghton/Desktop/brownbears/scss/main.scss */
.col-6 {
  width: 50%;
}

/* line 61, C:/Users/George Houghton/Desktop/brownbears/scss/main.scss */
.col-7 {
  width: 58.3333333333%;
}

/* line 64, C:/Users/George Houghton/Desktop/brownbears/scss/main.scss */
.col-8 {
  width: 66.6666666666%;
}

/* line 67, C:/Users/George Houghton/Desktop/brownbears/scss/main.scss */
.col-9 {
  width: 75%;
}

/* line 70, C:/Users/George Houghton/Desktop/brownbears/scss/main.scss */
.col-10 {
  width: 83.3333333333%;
}

/* line 73, C:/Users/George Houghton/Desktop/brownbears/scss/main.scss */
.col-11 {
  width: 91.6666666666%;
}

/* line 76, C:/Users/George Houghton/Desktop/brownbears/scss/main.scss */
.col-12 {
  width: 100%;
}

/* line 80, C:/Users/George Houghton/Desktop/brownbears/scss/main.scss */
[class*="col-"] {
  float: left;
}

/* line 87, C:/Users/George Houghton/Desktop/brownbears/scss/main.scss */
.row:before
:after {
  clear: both;
  content: "";
}

/* line 94, C:/Users/George Houghton/Desktop/brownbears/scss/main.scss */
#logo-holder {
  margin: 0 auto;
  padding: 0;
  position: relative;
  top: 70%;
  left: 25%;
}

/* line 102, C:/Users/George Houghton/Desktop/brownbears/scss/main.scss */
#logo-holder .logo {
  margin: 0;
  padding: 0;
  width: 100%;
  padding-top: 30%;
}

/* line 109, C:/Users/George Houghton/Desktop/brownbears/scss/main.scss */
#logo-holder .scroll {
  margin: 0;
  padding: 0;
  width: 10%;
  padding-top: 35%;
  padding-bottom: 10%;
}

/* line 118, C:/Users/George Houghton/Desktop/brownbears/scss/main.scss */
#pic-table {
  margin: 0 auto;
  padding: 0;
  width: 90%;
  min-width: 300px;
  height: auto;
  margin-top: 2%;
}

/* line 126, C:/Users/George Houghton/Desktop/brownbears/scss/main.scss */
#pic-table #pic {
  margin: 0;
  padding: 0;
  width: 100%;
  display: block;
}

/* line 134, C:/Users/George Houghton/Desktop/brownbears/scss/main.scss */
#links {
  margin: 0 auto;
  padding: 0;
  padding-top: 1%;
  text-align: right;
}

/* line 141, C:/Users/George Houghton/Desktop/brownbears/scss/main.scss */
#links .media-links {
  margin: 0 auto;
  padding: 0;
  width: 2%;
  margin-left: 2%;
}

/* Tablet Portait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  /* line 158, C:/Users/George Houghton/Desktop/brownbears/scss/main.scss */
  .container {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    max-width: 1024px;
    min-width: 768px;
  }
  /* line 165, C:/Users/George Houghton/Desktop/brownbears/scss/main.scss */
  .container .scroll {
    display: none;
  }
  /* line 168, C:/Users/George Houghton/Desktop/brownbears/scss/main.scss */
  .container #pic-table {
    margin-top: 30%;
  }
  /* line 171, C:/Users/George Houghton/Desktop/brownbears/scss/main.scss */
  .container .media-links {
    width: 6%;
  }
}

/* Tablet Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
  /* line 185, C:/Users/George Houghton/Desktop/brownbears/scss/main.scss */
  .container {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    max-width: 1024px;
    min-width: 768px;
  }
  /* line 192, C:/Users/George Houghton/Desktop/brownbears/scss/main.scss */
  .container .logo {
    margin: 0;
    padding: 0;
    width: 100%;
    padding-top: 30%;
  }
  /* line 199, C:/Users/George Houghton/Desktop/brownbears/scss/main.scss */
  .container .scroll {
    display: none;
  }
  /* line 202, C:/Users/George Houghton/Desktop/brownbears/scss/main.scss */
  .container #pic-table {
    margin: 0 auto;
    padding: 0;
    width: 90%;
    min-width: 300px;
    height: auto;
    margin-top: 20%;
  }
  /* line 211, C:/Users/George Houghton/Desktop/brownbears/scss/main.scss */
  .container .media-links {
    width: 26%;
  }
}

/* Mobile Portrait */
@media only screen and (min-device-width: 320px) and (max-device-width: 740px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  /* line 228, C:/Users/George Houghton/Desktop/brownbears/scss/main.scss */
  .container {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    max-width: 480px;
    min-width: 320px;
  }
  /* line 235, C:/Users/George Houghton/Desktop/brownbears/scss/main.scss */
  .container #logo-holder {
    width: 80%;
    left: 10%;
  }
  /* line 239, C:/Users/George Houghton/Desktop/brownbears/scss/main.scss */
  .container #logo-holder .logo {
    width: 90%;
  }
  /* line 242, C:/Users/George Houghton/Desktop/brownbears/scss/main.scss */
  .container #logo-holder .scroll {
    display: none;
  }
  /* line 246, C:/Users/George Houghton/Desktop/brownbears/scss/main.scss */
  .container #pic-table {
    margin-top: 25%;
  }
  /* line 249, C:/Users/George Houghton/Desktop/brownbears/scss/main.scss */
  .container #small-block, .container #big-block {
    width: 50%;
  }
  /* line 252, C:/Users/George Houghton/Desktop/brownbears/scss/main.scss */
  .container #links {
    display: none;
  }
}

/* Mobile Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 740px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  /* line 266, C:/Users/George Houghton/Desktop/brownbears/scss/main.scss */
  .container {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    max-width: 740px;
    min-width: 320px;
  }
  /* line 273, C:/Users/George Houghton/Desktop/brownbears/scss/main.scss */
  .container .scroll {
    display: none;
  }
  /* line 276, C:/Users/George Houghton/Desktop/brownbears/scss/main.scss */
  .container #pic-table {
    margin-top: 15%;
  }
  /* line 279, C:/Users/George Houghton/Desktop/brownbears/scss/main.scss */
  .container #small-block, .container #big-block {
    width: 50%;
  }
  /* line 282, C:/Users/George Houghton/Desktop/brownbears/scss/main.scss */
  .container #links {
    display: none;
  }
}

/*# sourceMappingURL=../css/main.map */