/* line 10, C:/Users/George Houghton/Desktop/brownbears/scss/main.scss */
body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #2B2B2B;
  text-align: center;
}

/* line 19, C:/Users/George Houghton/Desktop/brownbears/scss/main.scss */
.container {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: 100%;
  min-width: 320px;
  min-height: 556px;
  max-width: 3000px;
  max-height: 1900px;
  text-align: center;
}

/* line 32, C:/Users/George Houghton/Desktop/brownbears/scss/main.scss */
.table {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: auto;
  display: block;
}

/* line 41, C:/Users/George Houghton/Desktop/brownbears/scss/main.scss */
.row {
  display: block;
}

/* line 45, C:/Users/George Houghton/Desktop/brownbears/scss/main.scss */
.col-1 {
  width: 8.33333333333%;
}

/* line 50, C:/Users/George Houghton/Desktop/brownbears/scss/main.scss */
.col-2 {
  width: 16.6666666667%;
}

/* line 53, C:/Users/George Houghton/Desktop/brownbears/scss/main.scss */
.col-3 {
  width: 25%;
}

/* line 56, C:/Users/George Houghton/Desktop/brownbears/scss/main.scss */
.col-4 {
  width: 33.3333333333%;
}

/* line 60, C:/Users/George Houghton/Desktop/brownbears/scss/main.scss */
.col-5 {
  width: 41.6666666667%;
}

/* line 63, C:/Users/George Houghton/Desktop/brownbears/scss/main.scss */
.col-6 {
  width: 50%;
}

/* line 66, C:/Users/George Houghton/Desktop/brownbears/scss/main.scss */
.col-7 {
  width: 58.3333333333%;
}

/* line 69, C:/Users/George Houghton/Desktop/brownbears/scss/main.scss */
.col-8 {
  width: 66.6666666666%;
}

/* line 72, C:/Users/George Houghton/Desktop/brownbears/scss/main.scss */
.col-9 {
  width: 75%;
}

/* line 75, C:/Users/George Houghton/Desktop/brownbears/scss/main.scss */
.col-10 {
  width: 83.3333333333%;
}

/* line 78, C:/Users/George Houghton/Desktop/brownbears/scss/main.scss */
.col-11 {
  width: 91.6666666666%;
}

/* line 81, C:/Users/George Houghton/Desktop/brownbears/scss/main.scss */
.col-12 {
  width: 100%;
}

/* line 85, C:/Users/George Houghton/Desktop/brownbears/scss/main.scss */
[class*="col-"] {
  float: left;
}

/* line 92, C:/Users/George Houghton/Desktop/brownbears/scss/main.scss */
.row:before
:after {
  clear: both;
  content: "";
}

/* line 99, C:/Users/George Houghton/Desktop/brownbears/scss/main.scss */
#logo-box {
  margin: 0 auto;
  padding: 0;
  position: relative;
  top: 70%;
  left: 25%;
}

/* line 107, C:/Users/George Houghton/Desktop/brownbears/scss/main.scss */
#logo-box .logo {
  margin: 0;
  padding: 0;
  width: 100%;
  padding-top: 30%;
}

/* line 114, C:/Users/George Houghton/Desktop/brownbears/scss/main.scss */
#logo-box .scroll {
  margin: 0;
  padding: 0;
  width: 10%;
  padding-top: 35%;
  padding-bottom: 10%;
}

/* line 123, C:/Users/George Houghton/Desktop/brownbears/scss/main.scss */
#pic-table {
  margin: 0 auto;
  padding: 0;
  width: 85%;
  min-width: 300px;
  height: auto;
  margin-top: 2%;
}

/* line 131, C:/Users/George Houghton/Desktop/brownbears/scss/main.scss */
#pic-table .pic {
  margin: 0;
  padding: 0;
  width: 100%;
  display: block;
}

/* line 139, C:/Users/George Houghton/Desktop/brownbears/scss/main.scss */
#links {
  margin: 0 auto;
  padding: 0;
  padding-top: 1%;
  text-align: right;
}

/* line 147, C:/Users/George Houghton/Desktop/brownbears/scss/main.scss */
#links .media-links {
  margin: 0 auto;
  padding: 0;
  width: 2%;
  margin-left: 2%;
}

@media all and (max-width: 980px) {
  /* line 164, C:/Users/George Houghton/Desktop/brownbears/scss/main.scss */
  #logo-box {
    background-color: red;
  }
  /* line 167, C:/Users/George Houghton/Desktop/brownbears/scss/main.scss */
  #logo-box .logo {
    padding-bottom: 65%;
  }
  /* line 170, C:/Users/George Houghton/Desktop/brownbears/scss/main.scss */
  #logo-box .scroll {
    display: none;
  }
}

@media all and (max-width: 650px) {
  /* line 184, C:/Users/George Houghton/Desktop/brownbears/scss/main.scss */
  #logo-box {
    width: 50%;
    left: 20%;
  }
  /* line 188, C:/Users/George Houghton/Desktop/brownbears/scss/main.scss */
  #logo-box .logo {
    width: 120%;
  }
  /* line 193, C:/Users/George Houghton/Desktop/brownbears/scss/main.scss */
  #logo-box .scroll {
    display: none;
  }
  /* line 198, C:/Users/George Houghton/Desktop/brownbears/scss/main.scss */
  .col-3 {
    width: 50%;
  }
  /* line 202, C:/Users/George Houghton/Desktop/brownbears/scss/main.scss */
  .col-6 {
    width: 100%;
  }
}

/*# sourceMappingURL=../css/main.map */