/* line 12, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #2B2B2B;
}

/* line 20, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
.container {
  margin: 0 auto;
  padding: 0;
  width: 90%;
  max-width: 1920px;
  min-width: 1024px;
  text-align: center;
}

/* line 31, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
.table {
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

/* line 40, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
.col-1 {
  width: 8.33333333333%;
}

/* line 45, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
.col-2 {
  width: 16.6666666667%;
}

/* line 48, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
.col-3 {
  width: 25%;
}

/* line 51, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
.col-4 {
  width: 33.3333333333%;
}

/* line 55, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
.col-5 {
  width: 41.6666666667%;
}

/* line 58, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
.col-6 {
  width: 50%;
}

/* line 61, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
.col-7 {
  width: 58.3333333333%;
}

/* line 64, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
.col-8 {
  width: 66.6666666666%;
}

/* line 67, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
.col-9 {
  width: 75%;
}

/* line 70, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
.col-10 {
  width: 83.3333333333%;
}

/* line 73, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
.col-11 {
  width: 91.6666666666%;
}

/* line 76, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
.col-12 {
  width: 100%;
}

/* line 80, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
[class*="col-"] {
  float: left;
}

/* line 87, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
.row:before
:after {
  clear: both;
  content: "";
}

/* line 94, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
.menu {
  display: none;
  width: 50px;
  height: 40px;
  padding: 1em;
}

/* line 103, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
.menu:hover {
  cursor: pointer;
}

/* line 106, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
.menu li {
  list-style: none;
  margin: 5px 0;
  width: 50px;
  height: 8px;
  background: #949494;
}

/* line 113, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
.on {
  transform: rotate(90deg);
}

/* line 116, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
.on li {
  background: #ddd;
}

/* line 120, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
nav {
  background-color: #2B2B2B;
  text-align: center;
}

/* line 125, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
nav ul li {
  display: inline-block;
  line-height: 2;
  text-align: center;
}

/* line 133, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
nav a {
  display: block;
  font-family: "Roboto", sans-serif;
  font-size: 100%;
  text-decoration: none;
  color: #EFEFEF;
}

/* line 140, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
nav a:hover {
  color: #999;
}

/* line 143, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
a, .menu, .menu li {
  transition: all 0.3s ease-out;
}

/* line 149, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
#logo-holder {
  margin: 0 auto;
  padding: 0;
  position: relative;
  top: 25%;
  left: 0%;
}

/* line 157, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
#logo-holder .logo {
  margin: 0;
  padding: 0;
  width: 100%;
}

/* line 164, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
#img {
  margin: 0 auto;
  padding: 0;
  position: relative;
  padding-top: 15%;
  right: 15%;
  text-align: right;
}

/* line 172, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
#img .image {
  width: 75%;
}

/* line 177, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
#txt {
  margin: 0 auto;
  padding: 0;
  position: relative;
  right: 15%;
  padding-top: 20%;
  text-align: center;
}

/* line 186, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
#txt h1 {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  color: #EFEFEF;
  font-weight: 200;
  font-size: 200%;
}

/* line 196, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
#txt h2 {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  color: #EFEFEF;
  font-weight: 200;
  font-size: 200%;
  text-decoration: underline;
}

/* line 206, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
#txt p {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  color: #EFEFEF;
  font-weight: 200;
  font-size: 150%;
  line-height: 2;
}

/* line 220, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
#links {
  margin: 0 auto;
  padding: 0;
  padding-top: 10%;
  text-align: right;
}

/* line 227, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
#links .media-links {
  margin: 0 auto;
  padding: 0;
  width: 2%;
  margin-left: 2%;
}

/* Tablet Portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  /* line 244, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
  .container {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    max-width: 1024px;
    min-width: 768px;
  }
  /* line 251, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
  .container .menu {
    display: block;
  }
  /* line 255, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
  .container nav {
    width: 85%;
    display: none;
    background: #2B2B2B;
    text-align: center;
    margin-left: 3%;
    padding: 0;
    padding-bottom: 2%;
  }
  /* line 264, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
  .container nav ul li {
    display: block;
    border-bottom: 1px solid #ccc;
  }
  /* line 269, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
  .container nav ul li:last-child {
    border: none;
  }
  /* line 273, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
  .container nav a {
    font-size: 140%;
  }
  /* line 277, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
  .container #logo-holder {
    width: 80%;
    left: 10%;
  }
  /* line 281, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
  .container #logo-holder .logo {
    width: 90%;
  }
  /* line 286, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
  .container #img {
    width: 50%;
    left: 0%;
  }
  /* line 290, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
  .container #txt {
    left: 5%;
  }
  /* line 294, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
  .container #links {
    width: 90%;
  }
  /* line 297, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
  .container #links .media-links {
    width: 5%;
  }
}

/* Tablet Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
  /* line 312, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
  .container {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    max-width: 1024px;
    min-width: 768px;
  }
  /* line 319, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
  .container .menu {
    display: block;
  }
  /* line 323, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
  .container nav {
    width: 85%;
    display: none;
    background: #2B2B2B;
    text-align: center;
    margin-left: 3%;
    padding: 0;
    padding-bottom: 2%;
  }
  /* line 332, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
  .container nav ul li {
    display: block;
    border-bottom: 1px solid #ccc;
  }
  /* line 337, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
  .container nav ul li:last-child {
    border: none;
  }
  /* line 341, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
  .container nav a {
    font-size: 140%;
  }
  /* line 345, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
  .container #logo-holder {
    width: 33.3333333333%;
    left: 34%;
  }
  /* line 349, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
  .container #logo-holder .logo {
    width: 100%;
  }
  /* line 354, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
  .container #img {
    padding-top: 20%;
  }
  /* line 360, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
  .container #txt h2 {
    padding: 2%;
  }
  /* line 364, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
  .container #txt p {
    line-height: 1.5;
  }
  /* line 368, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
  .container #links {
    width: 90%;
    left: 0;
  }
  /* line 372, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
  .container #links .media-links {
    width: 5%;
  }
}

/* Mobile Portrait */
@media only screen and (min-device-width: 320px) and (max-device-width: 740px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  /* line 391, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
  .container {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    max-width: 480px;
    min-width: 320px;
  }
  /* line 398, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
  .container .menu {
    display: block;
  }
  /* line 402, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
  .container nav {
    width: 85%;
    display: none;
    background: #2B2B2B;
    text-align: center;
    margin-left: 3%;
    padding: 0;
    padding-bottom: 2%;
  }
  /* line 411, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
  .container nav ul li {
    display: block;
    border-bottom: 1px solid #ccc;
    text-align: center;
  }
  /* line 417, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
  .container nav ul li:last-child {
    border: none;
  }
  /* line 421, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
  .container nav a {
    font-size: 100%;
  }
  /* line 425, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
  .container #logo-holder {
    width: 80%;
    left: 10%;
  }
  /* line 429, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
  .container #logo-holder .logo {
    width: 90%;
  }
  /* line 434, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
  .container #img {
    width: 60%;
    left: 10%;
  }
  /* line 438, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
  .container #txt {
    width: 60%;
    left: 20%;
    padding-top: 10%;
  }
  /* line 443, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
  .container #txt h1 {
    font-size: 150%;
  }
  /* line 447, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
  .container #txt h2 {
    font-size: 130%;
    padding: 2%;
  }
  /* line 452, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
  .container #txt p {
    font-size: 100%;
    line-height: 1.5;
  }
  /* line 458, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
  .container #links {
    width: 90%;
    right: 0;
    left: 10%;
  }
  /* line 463, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
  .container #links .media-links {
    width: 10%;
  }
}

/* Mobile Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 740px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  /* line 478, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
  .container {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    max-width: 740px;
    min-width: 320px;
  }
  /* line 485, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
  .container .menu {
    display: block;
  }
  /* line 489, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
  .container nav {
    width: 85%;
    display: none;
    background: #2B2B2B;
    text-align: center;
    margin-left: 5%;
    padding: 0;
    padding-bottom: 2%;
  }
  /* line 498, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
  .container nav ul li {
    display: block;
    border-bottom: 1px solid #ccc;
    text-align: center;
  }
  /* line 504, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
  .container nav ul li:last-child {
    border: none;
  }
  /* line 508, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
  .container nav a {
    font-size: 100%;
  }
  /* line 512, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
  .container #logo-holder {
    width: 50%;
    left: 25%;
  }
  /* line 516, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
  .container #logo-holder .logo {
    width: 100%;
  }
  /* line 520, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
  .container #img {
    padding-top: 20%;
    right: 15%;
  }
  /* line 527, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
  .container #txt h1 {
    font-size: 150%;
  }
  /* line 531, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
  .container #txt h2 {
    font-size: 130%;
    padding: 2%;
  }
  /* line 536, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
  .container #txt p {
    font-size: 100%;
    line-height: 1.5;
  }
  /* line 542, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
  .container #links {
    width: 90%;
    left: 0;
    margin-top: 1%;
  }
  /* line 547, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
  .container #links .media-links {
    width: 5%;
    margin-top: 5%;
  }
}

/*# sourceMappingURL=../css/team.map */