/* line 10, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #2B2B2B;
}

/* line 18, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
.container {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: 100%;
  min-width: 320px;
  min-height: 556px;
  max-width: 3000px;
  max-height: 1900px;
}

/* line 29, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
.table {
  margin: 0 auto;
  padding: 0;
  width: 90%;
  height: auto;
}

/* line 38, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
.col-1 {
  width: 8.33333333333%;
}

/* line 43, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
.col-2 {
  width: 16.6666666667%;
}

/* line 46, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
.col-3 {
  width: 25%;
}

/* line 49, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
.col-4 {
  width: 33.3333333333%;
}

/* line 53, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
.col-5 {
  width: 41.6666666667%;
}

/* line 56, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
.col-6 {
  width: 50%;
}

/* line 59, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
.col-7 {
  width: 58.3333333333%;
}

/* line 62, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
.col-8 {
  width: 66.6666666666%;
}

/* line 65, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
.col-9 {
  width: 75%;
}

/* line 68, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
.col-10 {
  width: 83.3333333333%;
}

/* line 71, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
.col-11 {
  width: 91.6666666666%;
}

/* line 74, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
.col-12 {
  width: 100%;
}

/* line 78, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
[class*="col-"] {
  float: left;
}

/* line 85, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
.row:before
:after {
  clear: both;
  content: "";
}

/* line 92, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
.menu {
  display: none;
  width: 50px;
  height: 40px;
  padding: 1em;
}

/* line 101, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
.menu:hover {
  cursor: pointer;
}

/* line 104, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
.menu li {
  list-style: none;
  margin: 5px 0;
  width: 100px;
  height: 8px;
  background: #949494;
}

/* line 111, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
.on {
  transform: rotate(90deg);
}

/* line 114, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
.on li {
  background: #ddd;
}

/* line 118, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
nav {
  padding: .2em 0;
  font: 1em sans-serif;
  background-color: #2B2B2B;
  text-align: right;
}

/* line 125, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
nav ul li {
  display: inline-block;
  margin: 0 .8em;
  line-height: 3;
  text-align: center;
}

/* line 134, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
nav a {
  display: block;
  font-family: "Roboto", sans-serif;
  font-size: 100%;
  text-decoration: none;
  color: #EFEFEF;
  margin-left: 2%;
}

/* line 142, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
nav a:hover {
  color: #999;
}

/* line 145, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
a, .menu, .menu li {
  transition: all 0.3s ease-out;
}

/* line 151, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
#logo-holder {
  margin: 0 auto;
  padding: 0;
  position: relative;
  top: 25%;
  left: 0%;
}

/* line 159, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
#logo-holder .logo {
  margin: 0;
  padding: 0;
  width: 100%;
}

/* line 166, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
#img {
  margin: 0 auto;
  padding: 0;
  position: relative;
  padding-top: 13%;
  right: 15%;
  text-align: right;
}

/* line 174, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
#img .image {
  width: 75%;
}

/* line 179, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
#txt {
  margin: 0 auto;
  padding: 0;
  position: relative;
  right: 15%;
  padding-top: 20%;
  text-align: center;
}

/* line 188, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
#txt h1 {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  color: #EFEFEF;
  font-weight: 200;
  font-size: 200%;
}

/* line 198, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
#txt h2 {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  color: #EFEFEF;
  font-weight: 200;
  font-size: 170%;
  text-decoration: underline;
}

/* line 208, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
#txt p {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  color: #EFEFEF;
  font-weight: 200;
  font-size: 120%;
}

/* line 221, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
#links {
  margin: 0 auto;
  padding: 0;
  padding-top: 10%;
  text-align: right;
}

/* line 228, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
#links .media-links {
  margin: 0 auto;
  padding: 0;
  width: 2%;
  margin-left: 2%;
}

/* Custom, iPhone Retina */
/* Extra Small Devices, Phones */
/* Small Devices, Tablets */
/* Medium Devices, Desktops */
@media (max-width: 992px) {
  /* line 255, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
  .menu {
    display: block;
  }
  /* line 259, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
  nav {
    width: 100%;
    display: none;
    background: #2B2B2B;
    text-align: center;
  }
  /* line 265, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
  nav ul li {
    display: block;
    margin: 0.6em 0.8em !important;
    border-bottom: 2px solid #ccc;
  }
  /* line 270, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
  nav ul li:last-child {
    border: none;
  }
  /* line 274, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
  nav a {
    font-size: 150%;
  }
  /* line 278, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
  #logo-holder {
    width: 75%;
    margin: 0 auto;
    padding: 0;
    position: relative;
    margin-top: 10%;
    left: 13%;
  }
  /* line 289, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
  #img {
    width: 50%;
    left: 20%;
  }
  /* line 293, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
  #img .image {
    width: 75%;
  }
  /* line 298, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
  #txt {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    position: relative;
    right: 0%;
    left: 0%;
    padding-top: 5%;
    text-align: center;
  }
  /* line 313, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
  #links .media-links {
    width: 8%;
  }
}

/* Large Devices, Wide Screens */

/*# sourceMappingURL=../css/team.map */