/* line 11, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #2B2B2B;
}

/* line 19, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
.container {
  margin: 0 auto;
  padding: 0;
  width: 90%;
  max-width: 1920px;
  text-align: center;
}

/* line 27, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
.table {
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

/* line 33, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
.col-1 {
  width: 8.33333333333%;
}

/* line 37, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
.col-2 {
  width: 16.6666666667%;
}

/* line 41, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
.col-3 {
  width: 25%;
}

/* line 45, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
.col-4 {
  width: 33.3333333333%;
}

/* line 49, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
.col-5 {
  width: 41.6666666667%;
}

/* line 53, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
.col-6 {
  width: 50%;
}

/* line 57, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
.col-7 {
  width: 58.3333333333%;
}

/* line 61, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
.col-8 {
  width: 66.6666666666%;
}

/* line 65, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
.col-9 {
  width: 75%;
}

/* line 69, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
.col-10 {
  width: 83.3333333333%;
}

/* line 73, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
.col-11 {
  width: 91.6666666666%;
}

/* line 77, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
.col-12 {
  width: 100%;
}

/* line 81, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
[class*="col-"] {
  float: left;
}

/* line 87, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
.row:before:after {
  clear: both;
  content: "";
}

/* line 92, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
.menu {
  width: 60px;
  padding: 2;
  height: 50px;
  display: none;
}

/* line 97, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
.menu:hover {
  cursor: pointer;
}

/* line 100, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
.menu .menu li {
  list-style: none;
  margin: 5px 0;
  background-color: #949494;
}

/* line 107, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
.top,
.mid,
.bttm {
  position: relative;
  top: 11px;
  width: 60px;
  height: 8px;
  background-color: #949494;
}

/* line 118, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
.on .top {
  transform: rotate(45deg);
  top: 16px;
  transition: all .25s;
  background-color: #949494;
}

/* line 125, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
.on .bttm {
  transform: rotate(-45deg);
  top: 5px;
  transition: all .25s;
  background-color: #949494;
}

/* line 132, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
.on .mid {
  display: none;
}

/* line 136, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
.on li {
  background-color: #949494;
}

/* line 141, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
nav {
  background-color: #2B2B2B;
  text-align: right;
  width: 100%;
}

/* line 147, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
nav ul li {
  display: inline-block;
  line-height: 2;
  text-align: center;
}

/* line 153, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
nav a {
  display: block;
  font-family: "Roboto", sans-serif;
  font-size: 100%;
  text-decoration: none;
  color: #EFEFEF;
  margin-left: 15%;
}

/* line 162, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
nav a:hover {
  color: #999;
}

/* line 166, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
a,
.menu,
.menu li {
  transition: all 0.3s ease-out;
}

/* line 172, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
#logo-holder {
  margin: 0 auto;
  padding: 0;
  position: relative;
  top: 25%;
  left: 0%;
}

/* line 178, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
#logo-holder .logo {
  margin: 0;
  padding: 0;
  width: 100%;
}

/* line 185, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
#img {
  margin: 0 auto;
  padding: 0;
  position: relative;
  padding-top: 15%;
  right: 15%;
  text-align: right;
}

/* line 192, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
#img .image {
  width: 75%;
}

/* line 197, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
#txt {
  margin: 0 auto;
  padding: 0;
  position: relative;
  right: 15%;
  padding-top: 17%;
  text-align: center;
}

/* line 204, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
#txt h1 {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  color: #EFEFEF;
  font-weight: 200;
  font-size: 200%;
}

/* line 212, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
#txt h2 {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  color: #EFEFEF;
  font-weight: 200;
  font-size: 150%;
  text-decoration: underline;
  margin-top: 5%;
}

/* line 222, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
#txt p {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  color: #EFEFEF;
  font-weight: 200;
  font-size: 120%;
  line-height: 2;
  margin-top: 3%;
}

/* line 234, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
#links {
  margin: 0 auto;
  padding: 0;
  padding-top: 10%;
  text-align: right;
}

/* line 239, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
#links .media-links {
  margin: 0 auto;
  padding: 0;
  width: 2%;
  margin-left: 2%;
}

/* Tablet Landscape */
@media (max-width: 1024px) {
  /* line 251, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
  .container {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    max-width: 1024px;
  }
  /* line 256, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
  .container .menu {
    display: block;
  }
  /* line 259, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
  .container nav {
    width: 100%;
    display: none;
    background: #2B2B2B;
    text-align: center;
    padding: 0;
    padding-bottom: 2%;
    position: relative;
    right: 2%;
  }
  /* line 269, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
  .container nav ul li {
    display: block;
    border-bottom: 1px solid #ccc;
  }
  /* line 273, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
  .container nav ul li:last-child {
    border: none;
  }
  /* line 276, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
  .container nav a {
    font-size: 140%;
    position: relative;
    right: 8%;
  }
  /* line 281, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
  .container #logo-holder {
    width: 50%;
    left: 25%;
  }
  /* line 284, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
  .container #logo-holder .logo {
    width: 100%;
  }
  /* line 288, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
  .container #img {
    padding-top: 20%;
    right: 21%;
  }
  /* line 292, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
  .container #txt {
    width: 60%;
    left: 20%;
    padding-top: 5%;
  }
  /* line 296, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
  .container #txt h2 {
    padding: 2%;
  }
  /* line 299, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
  .container #txt p {
    line-height: 1.5;
  }
  /* line 303, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
  .container #links {
    width: 90%;
    left: 0;
  }
  /* line 306, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
  .container #links .media-links {
    width: 5%;
  }
}

/* Tablet Portrait */
@media (max-width: 768px) {
  /* line 317, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
  .container {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    max-width: 768px;
  }
  /* line 322, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
  .container .menu {
    display: block;
  }
  /* line 325, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
  .container nav {
    width: 100%;
    display: none;
    background: #2B2B2B;
    text-align: center;
    padding: 0;
    padding-bottom: 2%;
    position: relative;
    right: 2%;
  }
  /* line 335, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
  .container nav ul li {
    display: block;
    border-bottom: 1px solid #ccc;
  }
  /* line 339, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
  .container nav ul li:last-child {
    border: none;
  }
  /* line 342, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
  .container nav a {
    font-size: 140%;
    position: relative;
    right: 8%;
  }
  /* line 347, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
  .container #logo-holder {
    width: 80%;
    left: 10%;
  }
  /* line 350, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
  .container #logo-holder .logo {
    width: 90%;
  }
  /* line 354, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
  .container #img {
    width: 50%;
    left: 0%;
  }
  /* line 358, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
  .container #txt {
    left: 5%;
  }
  /* line 361, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
  .container #links {
    width: 90%;
  }
  /* line 363, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
  .container #links .media-links {
    width: 5%;
  }
}

/* Mobile Landscape */
@media (max-width: 740px) {
  /* line 374, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
  .container {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    max-width: 740px;
  }
  /* line 379, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
  .container .menu {
    display: block;
  }
  /* line 382, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
  .container nav {
    width: 100%;
    display: none;
    background: #2B2B2B;
    text-align: center;
    padding: 0;
    padding-bottom: 2%;
    position: relative;
    right: 2%;
  }
  /* line 392, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
  .container nav ul li {
    display: block;
    border-bottom: 1px solid #ccc;
    text-align: center;
  }
  /* line 397, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
  .container nav ul li:last-child {
    border: none;
  }
  /* line 400, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
  .container nav a {
    font-size: 100%;
    position: relative;
    right: 9%;
  }
  /* line 405, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
  .container #logo-holder {
    width: 50%;
    left: 25%;
  }
  /* line 408, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
  .container #logo-holder .logo {
    width: 100%;
  }
  /* line 412, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
  .container #img {
    padding-top: 20%;
    right: 21%;
  }
  /* line 416, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
  .container #txt {
    width: 60%;
    left: 20%;
    padding-top: 5%;
  }
  /* line 420, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
  .container #txt h1 {
    font-size: 150%;
  }
  /* line 423, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
  .container #txt h2 {
    font-size: 130%;
    padding: 2%;
  }
  /* line 427, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
  .container #txt p {
    font-size: 100%;
    line-height: 1.5;
  }
  /* line 432, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
  .container #links {
    width: 90%;
    left: 5%;
    margin-top: 1%;
  }
  /* line 436, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
  .container #links .media-links {
    width: 5%;
    margin-top: 5%;
  }
}

/* Mobile Portrait */
@media (max-width: 414px) {
  /* line 448, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
  .container {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    max-width: 414px;
  }
  /* line 453, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
  .container .menu {
    display: block;
  }
  /* line 456, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
  .container nav {
    width: 100%;
    display: none;
    background: #2B2B2B;
    text-align: center;
    padding: 0;
    padding-bottom: 2%;
    position: relative;
    right: 3%;
  }
  /* line 466, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
  .container nav ul li {
    display: block;
    border-bottom: 1px solid #ccc;
    text-align: center;
  }
  /* line 471, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
  .container nav ul li:last-child {
    border: none;
  }
  /* line 474, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
  .container nav a {
    font-size: 100%;
    position: relative;
    right: 10%;
  }
  /* line 479, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
  .container #logo-holder {
    width: 80%;
    left: 10%;
  }
  /* line 482, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
  .container #logo-holder .logo {
    width: 90%;
  }
  /* line 486, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
  .container #img {
    width: 60%;
    left: 14%;
  }
  /* line 490, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
  .container #txt {
    width: 60%;
    left: 20%;
    padding-top: 5%;
  }
  /* line 494, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
  .container #txt h1 {
    font-size: 150%;
  }
  /* line 497, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
  .container #txt h2 {
    font-size: 130%;
    padding: 2%;
  }
  /* line 501, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
  .container #txt p {
    font-size: 100%;
    line-height: 1.5;
  }
  /* line 506, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
  .container #links {
    width: 90%;
    right: 0;
    left: 10%;
  }
  /* line 510, C:/Users/georg/Desktop/brownbear/brownbears/scss/team.scss */
  .container #links .media-links {
    width: 10%;
  }
}

/*# sourceMappingURL=../css/team.map */