/* line 12, C:/Users/georg/Desktop/brownbear/brownbears/scss/work.scss */
body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #2B2B2B;
}

/* line 20, C:/Users/georg/Desktop/brownbear/brownbears/scss/work.scss */
.container {
  margin: 0 auto;
  padding: 0;
  width: 90%;
  max-width: 1920px;
  min-width: 1024px;
  text-align: center;
}

/* line 31, C:/Users/georg/Desktop/brownbear/brownbears/scss/work.scss */
.table {
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

/* line 40, C:/Users/georg/Desktop/brownbear/brownbears/scss/work.scss */
.col-1 {
  width: 8.33333333333%;
}

/* line 45, C:/Users/georg/Desktop/brownbear/brownbears/scss/work.scss */
.col-2 {
  width: 16.6666666667%;
}

/* line 48, C:/Users/georg/Desktop/brownbear/brownbears/scss/work.scss */
.col-3 {
  width: 25%;
}

/* line 51, C:/Users/georg/Desktop/brownbear/brownbears/scss/work.scss */
.col-4 {
  width: 33.3333333333%;
}

/* line 55, C:/Users/georg/Desktop/brownbear/brownbears/scss/work.scss */
.col-5 {
  width: 41.6666666667%;
}

/* line 58, C:/Users/georg/Desktop/brownbear/brownbears/scss/work.scss */
.col-6 {
  width: 50%;
}

/* line 61, C:/Users/georg/Desktop/brownbear/brownbears/scss/work.scss */
.col-7 {
  width: 58.3333333333%;
}

/* line 64, C:/Users/georg/Desktop/brownbear/brownbears/scss/work.scss */
.col-8 {
  width: 66.6666666666%;
}

/* line 67, C:/Users/georg/Desktop/brownbear/brownbears/scss/work.scss */
.col-9 {
  width: 75%;
}

/* line 70, C:/Users/georg/Desktop/brownbear/brownbears/scss/work.scss */
.col-10 {
  width: 83.3333333333%;
}

/* line 73, C:/Users/georg/Desktop/brownbear/brownbears/scss/work.scss */
.col-11 {
  width: 91.6666666666%;
}

/* line 76, C:/Users/georg/Desktop/brownbear/brownbears/scss/work.scss */
.col-12 {
  width: 100%;
}

/* line 80, C:/Users/georg/Desktop/brownbear/brownbears/scss/work.scss */
[class*="col-"] {
  float: left;
}

/* line 87, C:/Users/georg/Desktop/brownbear/brownbears/scss/work.scss */
.row:before
:after {
  clear: both;
  content: "";
}

/* line 94, C:/Users/georg/Desktop/brownbear/brownbears/scss/work.scss */
.menu {
  display: none;
  width: 50px;
  height: 40px;
  padding: 1em;
}

/* line 103, C:/Users/georg/Desktop/brownbear/brownbears/scss/work.scss */
.menu:hover {
  cursor: pointer;
}

/* line 106, C:/Users/georg/Desktop/brownbear/brownbears/scss/work.scss */
.menu li {
  list-style: none;
  margin: 5px 0;
  width: 50px;
  height: 8px;
  background: #949494;
}

/* line 113, C:/Users/georg/Desktop/brownbear/brownbears/scss/work.scss */
.on {
  transform: rotate(90deg);
}

/* line 116, C:/Users/georg/Desktop/brownbear/brownbears/scss/work.scss */
.on li {
  background: #ddd;
}

/* line 120, C:/Users/georg/Desktop/brownbear/brownbears/scss/work.scss */
nav {
  background-color: #2B2B2B;
  text-align: right;
}

/* line 127, C:/Users/georg/Desktop/brownbear/brownbears/scss/work.scss */
nav ul li {
  display: inline-block;
  line-height: 2;
  text-align: center;
}

/* line 135, C:/Users/georg/Desktop/brownbear/brownbears/scss/work.scss */
nav a {
  display: block;
  font-family: "Roboto", sans-serif;
  font-size: 100%;
  text-decoration: none;
  color: #EFEFEF;
  margin-left: 15%;
}

/* line 144, C:/Users/georg/Desktop/brownbear/brownbears/scss/work.scss */
nav a:hover {
  color: #999;
}

/* line 147, C:/Users/georg/Desktop/brownbear/brownbears/scss/work.scss */
a, .menu, .menu li {
  transition: all 0.3s ease-out;
}

/* line 153, C:/Users/georg/Desktop/brownbear/brownbears/scss/work.scss */
#logo-holder {
  margin: 0 auto;
  padding: 0;
  position: relative;
  top: 25%;
  left: 0%;
}

/* line 161, C:/Users/georg/Desktop/brownbear/brownbears/scss/work.scss */
#logo-holder .logo {
  margin: 0;
  padding: 0;
  width: 100%;
}

/* line 168, C:/Users/georg/Desktop/brownbear/brownbears/scss/work.scss */
#title {
  margin: 0;
  padding: 0;
  position: relative;
  left: 10%;
  margin-top: 10%;
}

/* line 175, C:/Users/georg/Desktop/brownbear/brownbears/scss/work.scss */
h1 {
  font-family: "Roboto", sans-serif;
  font-size: 150%;
  color: #EFEFEF;
}

/* line 181, C:/Users/georg/Desktop/brownbear/brownbears/scss/work.scss */
p {
  font-family: "Roboto", sans-serif;
  font-size: 130%;
  color: #EFEFEF;
}

/* line 189, C:/Users/georg/Desktop/brownbear/brownbears/scss/work.scss */
#work-info {
  margin: 0;
  padding: 0;
  position: relative;
  left: 5%;
  margin-top: 2%;
}

/* line 196, C:/Users/georg/Desktop/brownbear/brownbears/scss/work.scss */
#work-info #project {
  margin: 0;
  padding: 0;
  height: 100%;
  position: relative;
  left: 2%;
  margin-top: 2%;
}

/* line 204, C:/Users/georg/Desktop/brownbear/brownbears/scss/work.scss */
#work-info #project #project-img {
  margin: 0;
  padding: 0;
  text-align: center;
}

/* line 210, C:/Users/georg/Desktop/brownbear/brownbears/scss/work.scss */
#work-info #project #project-img .project-pic {
  width: 100%;
}

/* line 215, C:/Users/georg/Desktop/brownbear/brownbears/scss/work.scss */
#work-info #project #project-info {
  text-align: center;
}

/* line 218, C:/Users/georg/Desktop/brownbear/brownbears/scss/work.scss */
#work-info #project #project-info h1 {
  width: 80%;
}

/* line 221, C:/Users/georg/Desktop/brownbear/brownbears/scss/work.scss */
#work-info #project #project-info p {
  width: 80%;
}

/* line 228, C:/Users/georg/Desktop/brownbear/brownbears/scss/work.scss */
#links {
  margin: 0 auto;
  padding: 0;
  padding-top: 10%;
  text-align: right;
}

/* line 235, C:/Users/georg/Desktop/brownbear/brownbears/scss/work.scss */
#links .media-links {
  margin: 0 auto;
  padding: 0;
  width: 2%;
  margin-left: 2%;
}

/* Tablet Portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  /* line 253, C:/Users/georg/Desktop/brownbear/brownbears/scss/work.scss */
  .container {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    max-width: 1024px;
    min-width: 768px;
  }
  /* line 260, C:/Users/georg/Desktop/brownbear/brownbears/scss/work.scss */
  .container .menu {
    display: block;
  }
  /* line 264, C:/Users/georg/Desktop/brownbear/brownbears/scss/work.scss */
  .container nav {
    width: 100%;
    display: none;
    background: #2B2B2B;
    text-align: center;
    padding: 0;
    padding-bottom: 2%;
    position: relative;
    right: 2%;
  }
  /* line 275, C:/Users/georg/Desktop/brownbear/brownbears/scss/work.scss */
  .container nav ul li {
    display: block;
    border-bottom: 1px solid #ccc;
  }
  /* line 280, C:/Users/georg/Desktop/brownbear/brownbears/scss/work.scss */
  .container nav ul li:last-child {
    border: none;
  }
  /* line 284, C:/Users/georg/Desktop/brownbear/brownbears/scss/work.scss */
  .container nav a {
    font-size: 140%;
    position: relative;
    right: 8%;
  }
  /* line 290, C:/Users/georg/Desktop/brownbear/brownbears/scss/work.scss */
  .container #logo-holder {
    width: 80%;
    left: 10%;
  }
  /* line 294, C:/Users/georg/Desktop/brownbear/brownbears/scss/work.scss */
  .container #logo-holder .logo {
    width: 90%;
  }
  /* line 299, C:/Users/georg/Desktop/brownbear/brownbears/scss/work.scss */
  .container #title {
    width: 50%;
    left: 25%;
  }
  /* line 303, C:/Users/georg/Desktop/brownbear/brownbears/scss/work.scss */
  .container #title h1 {
    position: relative;
    right: 10%;
  }
  /* line 307, C:/Users/georg/Desktop/brownbear/brownbears/scss/work.scss */
  .container #title p {
    position: relative;
    right: 10%;
  }
  /* line 312, C:/Users/georg/Desktop/brownbear/brownbears/scss/work.scss */
  .container #project-info {
    text-align: center;
  }
  /* line 318, C:/Users/georg/Desktop/brownbear/brownbears/scss/work.scss */
  .container #project-info p {
    font-size: 90%;
  }
  /* line 323, C:/Users/georg/Desktop/brownbear/brownbears/scss/work.scss */
  .container #links {
    width: 90%;
  }
  /* line 326, C:/Users/georg/Desktop/brownbear/brownbears/scss/work.scss */
  .container #links .media-links {
    width: 5%;
  }
}

/* Tablet Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
  /* line 341, C:/Users/georg/Desktop/brownbear/brownbears/scss/work.scss */
  .container {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    max-width: 1024px;
    min-width: 768px;
  }
  /* line 348, C:/Users/georg/Desktop/brownbear/brownbears/scss/work.scss */
  .container .menu {
    display: block;
  }
  /* line 352, C:/Users/georg/Desktop/brownbear/brownbears/scss/work.scss */
  .container nav {
    width: 100%;
    display: none;
    background: #2B2B2B;
    text-align: center;
    padding: 0;
    padding-bottom: 2%;
    position: relative;
    right: 2%;
  }
  /* line 362, C:/Users/georg/Desktop/brownbear/brownbears/scss/work.scss */
  .container nav ul li {
    display: block;
    border-bottom: 1px solid #ccc;
  }
  /* line 367, C:/Users/georg/Desktop/brownbear/brownbears/scss/work.scss */
  .container nav ul li:last-child {
    border: none;
  }
  /* line 371, C:/Users/georg/Desktop/brownbear/brownbears/scss/work.scss */
  .container nav a {
    font-size: 140%;
    position: relative;
    right: 8%;
  }
  /* line 377, C:/Users/georg/Desktop/brownbear/brownbears/scss/work.scss */
  .container #logo-holder {
    width: 50%;
    left: 25%;
  }
  /* line 381, C:/Users/georg/Desktop/brownbear/brownbears/scss/work.scss */
  .container #logo-holder .logo {
    width: 100%;
  }
  /* line 386, C:/Users/georg/Desktop/brownbear/brownbears/scss/work.scss */
  .container #links {
    width: 90%;
    left: 0;
  }
  /* line 390, C:/Users/georg/Desktop/brownbear/brownbears/scss/work.scss */
  .container #links .media-links {
    width: 5%;
  }
}

/* Mobile Portrait */
@media only screen and (min-device-width: 320px) and (max-device-width: 740px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  /* line 407, C:/Users/georg/Desktop/brownbear/brownbears/scss/work.scss */
  .container {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    max-width: 480px;
    min-width: 320px;
  }
  /* line 414, C:/Users/georg/Desktop/brownbear/brownbears/scss/work.scss */
  .container .menu {
    display: block;
  }
  /* line 418, C:/Users/georg/Desktop/brownbear/brownbears/scss/work.scss */
  .container nav {
    width: 100%;
    display: none;
    background: #2B2B2B;
    text-align: center;
    padding: 0;
    padding-bottom: 2%;
    position: relative;
    right: 3%;
  }
  /* line 428, C:/Users/georg/Desktop/brownbear/brownbears/scss/work.scss */
  .container nav ul li {
    display: block;
    border-bottom: 1px solid #ccc;
    text-align: center;
  }
  /* line 434, C:/Users/georg/Desktop/brownbear/brownbears/scss/work.scss */
  .container nav ul li:last-child {
    border: none;
  }
  /* line 438, C:/Users/georg/Desktop/brownbear/brownbears/scss/work.scss */
  .container nav a {
    font-size: 100%;
    position: relative;
    right: 10%;
  }
  /* line 444, C:/Users/georg/Desktop/brownbear/brownbears/scss/work.scss */
  .container #logo-holder {
    width: 80%;
    left: 10%;
  }
  /* line 448, C:/Users/georg/Desktop/brownbear/brownbears/scss/work.scss */
  .container #logo-holder .logo {
    width: 90%;
  }
  /* line 452, C:/Users/georg/Desktop/brownbear/brownbears/scss/work.scss */
  .container #links {
    width: 90%;
    right: 0;
    left: 10%;
  }
  /* line 457, C:/Users/georg/Desktop/brownbear/brownbears/scss/work.scss */
  .container #links .media-links {
    width: 10%;
  }
}

/* Mobile Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 740px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  /* line 472, C:/Users/georg/Desktop/brownbear/brownbears/scss/work.scss */
  .container {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    max-width: 740px;
    min-width: 320px;
  }
  /* line 479, C:/Users/georg/Desktop/brownbear/brownbears/scss/work.scss */
  .container .menu {
    display: block;
  }
  /* line 483, C:/Users/georg/Desktop/brownbear/brownbears/scss/work.scss */
  .container nav {
    width: 100%;
    display: none;
    background: #2B2B2B;
    text-align: center;
    padding: 0;
    padding-bottom: 2%;
    position: relative;
    right: 2%;
  }
  /* line 493, C:/Users/georg/Desktop/brownbear/brownbears/scss/work.scss */
  .container nav ul li {
    display: block;
    border-bottom: 1px solid #ccc;
    text-align: center;
  }
  /* line 499, C:/Users/georg/Desktop/brownbear/brownbears/scss/work.scss */
  .container nav ul li:last-child {
    border: none;
  }
  /* line 503, C:/Users/georg/Desktop/brownbear/brownbears/scss/work.scss */
  .container nav a {
    font-size: 100%;
    position: relative;
    right: 9%;
  }
  /* line 509, C:/Users/georg/Desktop/brownbear/brownbears/scss/work.scss */
  .container #logo-holder {
    width: 50%;
    left: 25%;
  }
  /* line 513, C:/Users/georg/Desktop/brownbear/brownbears/scss/work.scss */
  .container #logo-holder .logo {
    width: 100%;
  }
  /* line 517, C:/Users/georg/Desktop/brownbear/brownbears/scss/work.scss */
  .container #links {
    width: 90%;
    left: 5%;
    margin-top: 1%;
  }
  /* line 522, C:/Users/georg/Desktop/brownbear/brownbears/scss/work.scss */
  .container #links .media-links {
    width: 5%;
    margin-top: 5%;
  }
}

/*# sourceMappingURL=../css/work.map */