/* line 12, C:/Users/georg/Desktop/brownbear/brownbears/scss/work.scss */
body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #2B2B2B;
}

/* line 20, C:/Users/georg/Desktop/brownbear/brownbears/scss/work.scss */
.container {
  margin: 0 auto;
  padding: 0;
  width: 90%;
  max-width: 1920px;
  text-align: center;
}

/* line 28, C:/Users/georg/Desktop/brownbear/brownbears/scss/work.scss */
.table {
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

/* line 34, C:/Users/georg/Desktop/brownbear/brownbears/scss/work.scss */
.col-1 {
  width: 8.33333333333%;
}

/* line 38, C:/Users/georg/Desktop/brownbear/brownbears/scss/work.scss */
.col-2 {
  width: 16.6666666667%;
}

/* line 42, C:/Users/georg/Desktop/brownbear/brownbears/scss/work.scss */
.col-3 {
  width: 25%;
}

/* line 46, C:/Users/georg/Desktop/brownbear/brownbears/scss/work.scss */
.col-4 {
  width: 33.3333333333%;
}

/* line 50, C:/Users/georg/Desktop/brownbear/brownbears/scss/work.scss */
.col-5 {
  width: 41.6666666667%;
}

/* line 54, C:/Users/georg/Desktop/brownbear/brownbears/scss/work.scss */
.col-6 {
  width: 50%;
}

/* line 58, C:/Users/georg/Desktop/brownbear/brownbears/scss/work.scss */
.col-7 {
  width: 58.3333333333%;
}

/* line 62, C:/Users/georg/Desktop/brownbear/brownbears/scss/work.scss */
.col-8 {
  width: 66.6666666666%;
}

/* line 66, C:/Users/georg/Desktop/brownbear/brownbears/scss/work.scss */
.col-9 {
  width: 75%;
}

/* line 70, C:/Users/georg/Desktop/brownbear/brownbears/scss/work.scss */
.col-10 {
  width: 83.3333333333%;
}

/* line 74, C:/Users/georg/Desktop/brownbear/brownbears/scss/work.scss */
.col-11 {
  width: 91.6666666666%;
}

/* line 78, C:/Users/georg/Desktop/brownbear/brownbears/scss/work.scss */
.col-12 {
  width: 100%;
}

/* line 82, C:/Users/georg/Desktop/brownbear/brownbears/scss/work.scss */
[class*="col-"] {
  float: left;
}

/* line 88, C:/Users/georg/Desktop/brownbear/brownbears/scss/work.scss */
.row:before:after {
  clear: both;
  content: "";
}

/* line 93, C:/Users/georg/Desktop/brownbear/brownbears/scss/work.scss */
.menu {
  display: none;
  width: 50px;
  height: 40px;
  padding: 1em;
}

/* line 100, C:/Users/georg/Desktop/brownbear/brownbears/scss/work.scss */
.menu:hover {
  cursor: pointer;
}

/* line 104, C:/Users/georg/Desktop/brownbear/brownbears/scss/work.scss */
.menu li {
  list-style: none;
  margin: 5px 0;
  width: 50px;
  height: 8px;
  background: #949494;
}

/* line 112, C:/Users/georg/Desktop/brownbear/brownbears/scss/work.scss */
.on {
  transform: rotate(90deg);
}

/* line 116, C:/Users/georg/Desktop/brownbear/brownbears/scss/work.scss */
.on li {
  background: #ddd;
}

/* line 120, C:/Users/georg/Desktop/brownbear/brownbears/scss/work.scss */
nav {
  background-color: #2B2B2B;
  text-align: right;
}

/* line 125, C:/Users/georg/Desktop/brownbear/brownbears/scss/work.scss */
nav ul li {
  display: inline-block;
  line-height: 2;
  text-align: center;
}

/* line 131, C:/Users/georg/Desktop/brownbear/brownbears/scss/work.scss */
nav a {
  display: block;
  font-family: "Roboto", sans-serif;
  font-size: 100%;
  text-decoration: none;
  color: #EFEFEF;
  margin-left: 15%;
}

/* line 140, C:/Users/georg/Desktop/brownbear/brownbears/scss/work.scss */
nav a:hover {
  color: #999;
}

/* line 144, C:/Users/georg/Desktop/brownbear/brownbears/scss/work.scss */
a,
.menu,
.menu li {
  transition: all 0.3s ease-out;
}

/* line 150, C:/Users/georg/Desktop/brownbear/brownbears/scss/work.scss */
#logo-holder {
  margin: 0 auto;
  padding: 0;
  position: relative;
  top: 25%;
  left: 0%;
}

/* line 156, C:/Users/georg/Desktop/brownbear/brownbears/scss/work.scss */
#logo-holder .logo {
  margin: 0;
  padding: 0;
  width: 100%;
}

/* line 163, C:/Users/georg/Desktop/brownbear/brownbears/scss/work.scss */
#title {
  margin: 0;
  padding: 0;
  position: relative;
  left: 10%;
  margin-top: 10%;
}

/* line 169, C:/Users/georg/Desktop/brownbear/brownbears/scss/work.scss */
#title h1 {
  font-family: "Roboto", sans-serif;
  font-size: 150%;
  color: #EFEFEF;
}

/* line 174, C:/Users/georg/Desktop/brownbear/brownbears/scss/work.scss */
#title p {
  font-family: "Roboto", sans-serif;
  font-size: 130%;
  color: #EFEFEF;
}

/* line 181, C:/Users/georg/Desktop/brownbear/brownbears/scss/work.scss */
#work-info {
  margin: 0;
  padding: 0;
  position: relative;
  left: 5%;
  margin-top: 2%;
}

/* line 187, C:/Users/georg/Desktop/brownbear/brownbears/scss/work.scss */
#work-info #project {
  margin: 0;
  padding: 0;
  height: 100%;
  position: relative;
  left: 2%;
  margin-top: 2%;
}

/* line 194, C:/Users/georg/Desktop/brownbear/brownbears/scss/work.scss */
#work-info #project #project-img {
  margin: 0;
  padding: 0;
  text-align: center;
}

/* line 198, C:/Users/georg/Desktop/brownbear/brownbears/scss/work.scss */
#work-info #project #project-img .project-pic {
  width: 100%;
}

/* line 202, C:/Users/georg/Desktop/brownbear/brownbears/scss/work.scss */
#work-info #project #project-info {
  text-align: center;
}

/* line 204, C:/Users/georg/Desktop/brownbear/brownbears/scss/work.scss */
#work-info #project #project-info h1 {
  font-family: "Roboto", sans-serif;
  font-size: 150%;
  color: #EFEFEF;
  width: 80%;
  position: relative;
  left: 10%;
}

/* line 212, C:/Users/georg/Desktop/brownbear/brownbears/scss/work.scss */
#work-info #project #project-info p {
  font-family: "Roboto", sans-serif;
  font-size: 130%;
  color: #EFEFEF;
  width: 80%;
  position: relative;
  left: 10%;
}

/* line 224, C:/Users/georg/Desktop/brownbear/brownbears/scss/work.scss */
#links {
  margin: 0 auto;
  padding: 0;
  padding-top: 10%;
  text-align: right;
}

/* line 229, C:/Users/georg/Desktop/brownbear/brownbears/scss/work.scss */
#links .media-links {
  margin: 0 auto;
  padding: 0;
  width: 2%;
  margin-left: 2%;
}

/* Tablet Portrait */
@media (max-width: 768px) {
  /* line 241, C:/Users/georg/Desktop/brownbear/brownbears/scss/work.scss */
  .container {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    max-width: 768px;
  }
  /* line 246, C:/Users/georg/Desktop/brownbear/brownbears/scss/work.scss */
  .container .menu {
    display: block;
  }
  /* line 249, C:/Users/georg/Desktop/brownbear/brownbears/scss/work.scss */
  .container nav {
    width: 100%;
    display: none;
    background: #2B2B2B;
    text-align: center;
    padding: 0;
    padding-bottom: 2%;
    position: relative;
    right: 2%;
  }
  /* line 259, C:/Users/georg/Desktop/brownbear/brownbears/scss/work.scss */
  .container nav ul li {
    display: block;
    border-bottom: 1px solid #ccc;
  }
  /* line 263, C:/Users/georg/Desktop/brownbear/brownbears/scss/work.scss */
  .container nav ul li:last-child {
    border: none;
  }
  /* line 266, C:/Users/georg/Desktop/brownbear/brownbears/scss/work.scss */
  .container nav a {
    font-size: 140%;
    position: relative;
    right: 8%;
  }
  /* line 271, C:/Users/georg/Desktop/brownbear/brownbears/scss/work.scss */
  .container #logo-holder {
    width: 80%;
    left: 10%;
  }
  /* line 274, C:/Users/georg/Desktop/brownbear/brownbears/scss/work.scss */
  .container #logo-holder .logo {
    width: 90%;
  }
  /* line 278, C:/Users/georg/Desktop/brownbear/brownbears/scss/work.scss */
  .container #title {
    width: 50%;
    left: 30%;
    margin-top: 5%;
  }
  /* line 282, C:/Users/georg/Desktop/brownbear/brownbears/scss/work.scss */
  .container #title h1 {
    position: relative;
    right: 10%;
  }
  /* line 286, C:/Users/georg/Desktop/brownbear/brownbears/scss/work.scss */
  .container #title p {
    position: relative;
    right: 10%;
  }
  /* line 291, C:/Users/georg/Desktop/brownbear/brownbears/scss/work.scss */
  .container #work-info {
    margin-top: 5%;
  }
  /* line 294, C:/Users/georg/Desktop/brownbear/brownbears/scss/work.scss */
  .container #project-info {
    text-align: center;
    position: relative;
    left: 5%;
  }
  /* line 299, C:/Users/georg/Desktop/brownbear/brownbears/scss/work.scss */
  .container #project-info p {
    font-size: 90%;
  }
  /* line 303, C:/Users/georg/Desktop/brownbear/brownbears/scss/work.scss */
  .container #links {
    width: 90%;
  }
  /* line 305, C:/Users/georg/Desktop/brownbear/brownbears/scss/work.scss */
  .container #links .media-links {
    width: 5%;
  }
}

/* Tablet Landscape */
@media (max-width: 1024px) {
  /* line 316, C:/Users/georg/Desktop/brownbear/brownbears/scss/work.scss */
  .container {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    max-width: 1024px;
  }
  /* line 321, C:/Users/georg/Desktop/brownbear/brownbears/scss/work.scss */
  .container .menu {
    display: block;
  }
  /* line 324, C:/Users/georg/Desktop/brownbear/brownbears/scss/work.scss */
  .container nav {
    width: 100%;
    display: none;
    background: #2B2B2B;
    text-align: center;
    padding: 0;
    padding-bottom: 2%;
    position: relative;
    right: 2%;
  }
  /* line 334, C:/Users/georg/Desktop/brownbear/brownbears/scss/work.scss */
  .container nav ul li {
    display: block;
    border-bottom: 1px solid #ccc;
  }
  /* line 338, C:/Users/georg/Desktop/brownbear/brownbears/scss/work.scss */
  .container nav ul li:last-child {
    border: none;
  }
  /* line 341, C:/Users/georg/Desktop/brownbear/brownbears/scss/work.scss */
  .container nav a {
    font-size: 140%;
    position: relative;
    right: 8%;
  }
  /* line 346, C:/Users/georg/Desktop/brownbear/brownbears/scss/work.scss */
  .container #logo-holder {
    width: 50%;
    left: 25%;
  }
  /* line 349, C:/Users/georg/Desktop/brownbear/brownbears/scss/work.scss */
  .container #logo-holder .logo {
    width: 100%;
  }
  /* line 353, C:/Users/georg/Desktop/brownbear/brownbears/scss/work.scss */
  .container #title {
    width: 100%;
    position: relative;
    left: 0;
    margin-top: 5%;
  }
  /* line 358, C:/Users/georg/Desktop/brownbear/brownbears/scss/work.scss */
  .container #title h1 {
    position: relative;
    right: 0%;
  }
  /* line 362, C:/Users/georg/Desktop/brownbear/brownbears/scss/work.scss */
  .container #title p {
    position: relative;
    right: 0%;
  }
  /* line 367, C:/Users/georg/Desktop/brownbear/brownbears/scss/work.scss */
  .container #work-info {
    margin-top: 5%;
  }
  /* line 370, C:/Users/georg/Desktop/brownbear/brownbears/scss/work.scss */
  .container #project-info {
    text-align: center;
    position: relative;
    left: 5%;
  }
  /* line 375, C:/Users/georg/Desktop/brownbear/brownbears/scss/work.scss */
  .container #project-info p {
    font-size: 100%;
  }
  /* line 379, C:/Users/georg/Desktop/brownbear/brownbears/scss/work.scss */
  .container #links {
    width: 90%;
    left: 0;
  }
  /* line 382, C:/Users/georg/Desktop/brownbear/brownbears/scss/work.scss */
  .container #links .media-links {
    width: 5%;
  }
}

/* Mobile Portrait */
@media (max-width: 230px) {
  /* line 393, C:/Users/georg/Desktop/brownbear/brownbears/scss/work.scss */
  .container {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    max-width: 320px;
  }
  /* line 398, C:/Users/georg/Desktop/brownbear/brownbears/scss/work.scss */
  .container .menu {
    display: block;
  }
  /* line 401, C:/Users/georg/Desktop/brownbear/brownbears/scss/work.scss */
  .container nav {
    width: 100%;
    display: none;
    background: #2B2B2B;
    text-align: center;
    padding: 0;
    padding-bottom: 2%;
    position: relative;
    right: 3%;
  }
  /* line 411, C:/Users/georg/Desktop/brownbear/brownbears/scss/work.scss */
  .container nav ul li {
    display: block;
    border-bottom: 1px solid #ccc;
    text-align: center;
  }
  /* line 416, C:/Users/georg/Desktop/brownbear/brownbears/scss/work.scss */
  .container nav ul li:last-child {
    border: none;
  }
  /* line 419, C:/Users/georg/Desktop/brownbear/brownbears/scss/work.scss */
  .container nav a {
    font-size: 100%;
    position: relative;
    right: 10%;
  }
  /* line 424, C:/Users/georg/Desktop/brownbear/brownbears/scss/work.scss */
  .container #logo-holder {
    width: 80%;
    left: 10%;
  }
  /* line 427, C:/Users/georg/Desktop/brownbear/brownbears/scss/work.scss */
  .container #logo-holder .logo {
    width: 90%;
  }
  /* line 431, C:/Users/georg/Desktop/brownbear/brownbears/scss/work.scss */
  .container #title {
    width: 100%;
    margin: 0;
    padding: 0;
    left: 0;
    margin-top: 10%;
  }
  /* line 438, C:/Users/georg/Desktop/brownbear/brownbears/scss/work.scss */
  .container h1 {
    font-family: "Roboto", sans-serif;
    font-size: 150%;
    color: #EFEFEF;
  }
  /* line 443, C:/Users/georg/Desktop/brownbear/brownbears/scss/work.scss */
  .container p {
    font-family: "Roboto", sans-serif;
    font-size: 110%;
    color: #EFEFEF;
  }
  /* line 448, C:/Users/georg/Desktop/brownbear/brownbears/scss/work.scss */
  .container #work-info {
    margin: 0;
    padding: 0;
    position: relative;
    left: 5%;
    margin-top: 2%;
  }
  /* line 454, C:/Users/georg/Desktop/brownbear/brownbears/scss/work.scss */
  .container #work-info #project {
    width: 100%;
    margin: 0;
    padding: 0;
    height: 100%;
    margin-top: 2%;
  }
  /* line 460, C:/Users/georg/Desktop/brownbear/brownbears/scss/work.scss */
  .container #work-info #project #project-img {
    margin: 0;
    padding: 0;
    text-align: center;
  }
  /* line 464, C:/Users/georg/Desktop/brownbear/brownbears/scss/work.scss */
  .container #work-info #project #project-img .project-pic {
    width: 100%;
  }
  /* line 468, C:/Users/georg/Desktop/brownbear/brownbears/scss/work.scss */
  .container #work-info #project #project-info {
    text-align: center;
  }
  /* line 470, C:/Users/georg/Desktop/brownbear/brownbears/scss/work.scss */
  .container #work-info #project #project-info h1 {
    width: 90%;
    font-size: 150%;
  }
  /* line 474, C:/Users/georg/Desktop/brownbear/brownbears/scss/work.scss */
  .container #work-info #project #project-info p {
    width: 90%;
    font-size: 110%;
  }
  /* line 481, C:/Users/georg/Desktop/brownbear/brownbears/scss/work.scss */
  .container #links {
    width: 90%;
    right: 0;
    left: 10%;
  }
  /* line 485, C:/Users/georg/Desktop/brownbear/brownbears/scss/work.scss */
  .container #links .media-links {
    width: 10%;
  }
}

/* Mobile Landscape */
@media (max-width: 740px) {
  /* line 496, C:/Users/georg/Desktop/brownbear/brownbears/scss/work.scss */
  .container {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    max-width: 740px;
  }
  /* line 501, C:/Users/georg/Desktop/brownbear/brownbears/scss/work.scss */
  .container .menu {
    display: block;
  }
  /* line 504, C:/Users/georg/Desktop/brownbear/brownbears/scss/work.scss */
  .container nav {
    width: 100%;
    display: none;
    background: green;
    text-align: center;
    padding: 0;
    padding-bottom: 2%;
    position: relative;
    right: 3%;
  }
  /* line 514, C:/Users/georg/Desktop/brownbear/brownbears/scss/work.scss */
  .container nav ul li {
    display: block;
    border-bottom: 1px solid #ccc;
    text-align: center;
  }
  /* line 519, C:/Users/georg/Desktop/brownbear/brownbears/scss/work.scss */
  .container nav ul li:last-child {
    border: none;
  }
  /* line 522, C:/Users/georg/Desktop/brownbear/brownbears/scss/work.scss */
  .container nav a {
    font-size: 100%;
    position: relative;
    right: 50%;
  }
}

/*# sourceMappingURL=../css/work.map */