$BackColor: #2B2B2B;
$HeaderColor: #191919;
$Font: 'Roboto', sans-serif;
$FontColor: #EFEFEF;
$desktop-max: 1280px;
$desktop-min: 1024px;
$tablet-max: 768px;
$tablet-min: 481px;
$phone-max: 480px;
$phone-min:320px;

body {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: $BackColor ;
}

.container {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    max-width: $desktop-max;
    min-width: $desktop-min;
}

.table {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    
      
}


.col-1 {
            width: 8.33333333333%;

        }

        .col-2 {
            width: 16.6666666667%;
        }
        .col-3 {
            width:25%;
        }
        .col-4 {
            width: 33.3333333333%;

        }
        .col-5 {
            width: 41.6666666667%;
        }
        .col-6 {
            width:50%;
        }
        .col-7 {
            width: 58.3333333333%;
        }
        .col-8 {
            width:66.6666666666%;
        }
        .col-9 {
            width:75%;
        }
        .col-10 {
            width: 83.3333333333%;
        }
        .col-11 {
             width:91.6666666666%; 
        }
        .col-12 {
             width: 100%;
        }

        [class*="col-"] {
          float:left; 
        }

        [class*="col-"]:last-of-type {
        }

        .row:before
            :after
        {
          clear: both;
          content:"";
        }


#logo-holder{
    
    margin: 0 auto;
    padding: 0;
    position: relative;
    top:  70%;
    left:25%;
    text-align: center;
    background-color: green;
    
    .logo {
        margin: 0;
        padding: 0;
        width: 100%;
        padding-top: 30%;
    }
        
        a{
            font-family: $Font;
            font-size:120%;
            text-decoration: none;
            color: $FontColor;
            position: relative;
            top: 40%;
        }
    
}

/* tablet site */

@media only screen and (max-width:769px) {
    
    .container {
        margin: 0 auto;
        padding: 0;
        width: 100%;
        max-width: $tablet-max;
        min-width: $tablet-min;
    
       #logo-holder {
            margin-top: 5%;
            width: 80%;
            right: 40%;
           background-color: purple;
        }
    }
}

/* mobile site */

 
@media only screen and  (max-width: 480px) {
    
    .container {
        margin: 0 auto;
        padding: 0;
        width: 100%;
        max-width: $phone-max;
        min-width: $phone-min;
        
        #logo-holder {
            margin-top: 55%;
            width: 90%;
            left:5%;
            background-color: red;
        }   
    }   
}

