$BackColor: #2B2B2B;
$HeaderColor: #191919;
$Font: 'Roboto',
sans-serif;
$FontColor: #EFEFEF;
$desktop: 1920px;
$tablet-landscape: 1024px;
$tablet-portrait:768px;
$phone-landscape: 740px;
$phone-portrait: 414px;
body {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: $BackColor;
}

.container {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    max-width: $desktop;
    text-align: center;
}

.table {
    margin: 0 auto;
    padding: 0;
    width: 100%;
}

#logo-holder {
    margin: 0 auto;
    padding: 0;
    position: relative;
    top: 70%;
    left: 25%;
    .logo {
        margin: 0;
        padding: 0;
        width: 100%;
        padding-top: 30%;
    }
    .scroll {
        margin: 0;
        padding: 0;
        width: 10%;
        padding-top: 35%;
        padding-bottom: 10%;
    }
}

#pic-table {
    margin: 0 auto;
    padding: 0;
    width: 90%;
    min-width: 300px;
    height: auto;
    margin-top: 15%;
    #pic {
        margin: 0;
        padding: 0;
        width: 100%;
        display: block;
    }
}

#links {
    margin: 0 auto;
    padding: 0;
    padding-top: 1%;
    text-align: right;
    .media-links {
        margin: 0 auto;
        padding: 0;
        width: 2%;
        margin-left: 2%;
    }
}


/* Tablet Landscape */

@media (max-width: $tablet-landscape) {
    .container {
        margin: 0 auto;
        padding: 0;
        width: 100%;
        max-width: $tablet-landscape;
        .logo {
            margin: 0;
            padding: 0;
            width: 100%;
            padding-top: 30%;
        }
        .scroll {
            display: none;
        }
        #pic-table {
            margin: 0 auto;
            padding: 0;
            width: 90%;
            min-width: 300px;
            height: auto;
            margin-top: 20%;
        }
        #links {
            .media-links {
                width: 5%;
            }
        }
    }
}


/* Tablet Portait */

@media (max-width: $tablet-portrait) {
    .container {
        margin: 0 auto;
        padding: 0;
        width: 100%;
        max-width: $tablet-portrait;
        .scroll {
            display: none;
        }
        #pic-table {
            margin-top: 30%;
        }
        #links {
            .media-links {
                width: 6%;
            }
        }
    }
}


/* Mobile Landscape */

@media (max-width: $phone-landscape) {
    .container {
        margin: 0 auto;
        padding: 0;
        width: 100%;
        max-width: 740px;
        .scroll {
            display: none;
        }
        #pic-table {
            margin-top: 15%;
        }
        #small-block,
        #big-block {
            width: 50%;
        }
        #links {
            display: none;
        }
    }
}


/* Mobile Portrait */

@media (max-width: $phone-portrait) {
    .container {
        margin: 0 auto;
        padding: 0;
        width: 100%;
        max-width: 320px;
        #logo-holder {
            width: 80%;
            left: 10%;
            .logo {
                width: 90%;
            }
            .scroll {
                display: none;
            }
        }
        #pic-table {
            margin-top: 25%;
        }
        #small-block,
        #big-block {
            width: 50%;
        }
        #links {
            display: none;
        }
    }
}