$BackColor: #2B2B2B;
$HeaderColor: #191919;
$Font: 'Roboto', sans-serif;
$FontColor: #EFEFEF;
$desktop-max: 1280px;
$desktop-min: 1024px;
$tablet-max: 768px;
$tablet-min: 481px;
$phone-max: 740px;
$phone-min:320px;

body {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: $BackColor ;
}

.container {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    max-width: $desktop-max;
    min-width: $desktop-min;

}
   

.table {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    
      
}


.col-1 {
            width: 8.33333333333%;

        }

        .col-2 {
            width: 16.6666666667%;
        }
        .col-3 {
            width:25%;
        }
        .col-4 {
            width: 33.3333333333%;

        }
        .col-5 {
            width: 41.6666666667%;
        }
        .col-6 {
            width:50%;
        }
        .col-7 {
            width: 58.3333333333%;
        }
        .col-8 {
            width:66.6666666666%;
        }
        .col-9 {
            width:75%;
        }
        .col-10 {
            width: 83.3333333333%;
        }
        .col-11 {
             width:91.6666666666%; 
        }
        .col-12 {
             width: 100%;
        }

        [class*="col-"] {
          float:left; 
        }

        [class*="col-"]:last-of-type {
        }

        .row:before
            :after
        {
          clear: both;
          content:"";
        } 

#logo-holder{
    
    margin: 0 auto;
    padding: 0;
    position: relative;
    top:  70%;
    left:25%;
    
    .logo {
        margin: 0;
        padding: 0;
        width: 100%;
        padding-top: 30%;
    }
    
    .scroll {
        margin: 0;
        padding: 0;
        width: 10%;
        padding-top: 45%;
        padding-bottom: 5%;
    }
}

#pic-table {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    min-width: 300px;
    height: auto;
    margin-top: 2%;
    
    #pic {
        margin: 0;
        padding: 0;
        width: 100%;
        display: block;
    }
}

#links {
    margin: 0 auto;
    padding: 0;
    padding-top: 1%;
    text-align: right;
    
    
    .media-links {
        margin: 0 auto;
        padding: 0;
        width:2%;
        margin-left: 2%;
        
    }
}

/* Tablet Portait */

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {

      .container {
        margin: 0 auto;
        padding: 0;
        width: 100%;
        max-width: $tablet-max;
        min-width: $tablet-min;

          .scroll {
            display: none;
          }  
        #pic-table {
            margin: 0 auto;
            padding: 0;
            width: 100%;
            min-width: 300px;
            height: auto;
            margin-top: 2%;
    
            #pic {
                margin: 0;
                padding: 0;
                width: 100%;
                display: block;
            }
        }

        #links {
            margin: 0 auto;
            padding: 0;
            padding-top: 1%;
            text-align: right;


            .media-links {
                margin: 0 auto;
                padding: 0;
                width:2%;
                margin-left: 2%;

            }
        }

    }
}

/* Tablet Landscape */

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1) {

      .container {
        margin: 0 auto;
        padding: 0;
        width: 100%;
        max-width: $tablet-max;
        min-width: $tablet-min;

    }
}



/* Mobile Portrait */


@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 740px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 
    
    .container {
        margin: 0 auto;
        padding: 0;
        width: 100%;
        max-width: 480px;
        min-width: $phone-min;
        
       
    }   
}

/* Mobile Landscape */

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 740px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 
    
    .container {
        margin: 0 auto;
        padding: 0;
        width: 100%;
        max-width: 480px;
        min-width: $phone-min;
        
        
    }   
}


